<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Chapter 10</title>
</head>
<body>
<h2 id="logging">Logging</h2>
<ul>
<li>Can log to separate channels, for example one channel for each
subsystem<ul>
<li>&#39;Channels&#39; can be different color printouts, separate files, 
separate TTY consoles, etc.</li>
<li>Naughty Dog uses <a href="http://redis.io">http://redis.io</a> to log to a web based interface</li>
</ul>
</li>
<li>Use log verbosity to control how much debug info is printed out</li>
<li>Can use bitmasks to set the log channel or verbosity (1 bit per channel/
verbosity)<ul>
<li>Test if to print out the log message if the bit for that level is
enabled</li>
</ul>
</li>
<li>Important to &#39;flush&#39; printouts to files to ensure the last message before
crashes are actually logged<ul>
<li>However, flushing can be expensive so there is a tradeoff</li>
</ul>
</li>
</ul>
<h2 id="debug-drawing">Debug Drawing</h2>
<ul>
<li>Useful to have support for simple drawing primitives to aid in 
graphical debugging, especially in 3d, such as<ul>
<li>lines</li>
<li>spheres</li>
<li>points (small cross/box as single pixel difficult to see)</li>
<li>coordinate axis (x,y,z pointing lines)</li>
<li>bounding boxes</li>
<li>formatted text</li>
</ul>
</li>
<li>Example images:
<img src="debug_img_1.png" alt="Debug Draw Image 1">
<img src="debug_img_2.png" alt="Debug Draw Image 2">
<img src="debug_img_3.png" alt="Debug Draw Image 3">
<img src="debug_img_4.png" alt="Debug Draw Image 4"></li>
</ul>
<h2 id="in-game-menu-debug-console">In Game Menu/Debug Console</h2>
<ul>
<li>Useful to have HUD or in-game console to toggle flags, run game in
slow motion, set values, execute commands, etc.</li>
<li>Usually bringing up the HUD pauses the game, then unpauses after exiting
the menu
<img src="debug_menu_1.png" alt="Debug Menu Image 4"></li>
</ul>
<h2 id="in-game-time-profiling-fps-calc">In Game Time-profiling/FPS calc</h2>
<ul>
<li>For testing the speeds of various functions or code sections<ul>
<li>Can implement hierarchical programming 
(Call-stack, e.g. function a calls function b, etc.)</li>
<li>This is helpful to narrow down high-cpu functions from top level</li>
</ul>
</li>
<li>Useful to break down both number of times called and time spent in call
call<ul>
<li>determine if number of calls is low but CPU time high, or </li>
<li>number of calls high but CPU time low</li>
</ul>
</li>
<li><p>Example impl:</p>
<pre><code>  while !(quitGame)
  {
      {
          PROFILE(SID(<span class="hljs-string">"Poll Joypad"</span>))<span class="hljs-comment">;</span>
          PollJoypad()<span class="hljs-comment">;</span>
      }
      {
          PROFILE(SID(<span class="hljs-string">"Game Object Update"</span>))<span class="hljs-comment">;</span>
          UpdateGameObjects()<span class="hljs-comment">;</span>
      }
      {
          PROFILE(SID(<span class="hljs-string">"Physics"</span>))<span class="hljs-comment">;</span>
          Physics()<span class="hljs-comment">;</span>
      }
      ...
  }

  struct AutoProfile
  {
      AutoProfile(const char *name)
      {
          m_name = name<span class="hljs-comment">;</span>
          m_startTime = getTime()<span class="hljs-comment">;</span>
      }
      ~AutoProfile()
      {
          m_stopTime = getTime()<span class="hljs-comment">;</span>
          m_totalTime = m_stopTime - m_startTime<span class="hljs-comment">;</span>

          g_profileManager.storeSample(m_name, m_totalTime)<span class="hljs-comment">;</span>
      }
  }
</code></pre></li>
</ul>
<h2 id="memory-usage-tracking">Memory Usage Tracking</h2>
<ul>
<li>This is hard</li>
<li>Things to think about:<ul>
<li>Controlling/Tracking memory in third party libraries</li>
<li>Video Memory vs. System RAM memory</li>
<li>Memory allocators/types<ul>
<li>E.g. our custom stack allocators or other types discussed earlier</li>
</ul>
</li>
</ul>
</li>
<li>On consoles, SDKs can come with more memory than is acually available
on the system<ul>
<li>In this case, must keep track of when memory would run out on a real
system
<img src="memory_1.png" alt="Naughty Dog Memory Display 1">
<img src="memory_2.png" alt="Naughty Dog Memory Display 2"></li>
</ul>
</li>
</ul>
<h2 id="other-useful-in-game-debugging">Other useful in-game debugging</h2>
<ul>
<li>Cheats, such as making your character free-fly around the level</li>
<li>Unlimited Ammo/Invincibility</li>
<li>Screen shots or gameplay recording</li>
</ul>
</body>
</html>
