<!-- code samples from the book can be found here:
     https://sites.google.com/site/webglbook/
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>50 Obj Model</title>
</head>
<body onload="initMain()">
<div style="display:flex;">
    <canvas id="mycanvas" width="600" height="600">
        Your Browser doesn't support canvas :(
    </canvas>
    <div>
        <textarea cols="80" rows="40" id="codeArea" style="padding:5px;"></textarea>
        <br/>
        <button type="button" id="runButton">Run</button>
    </div>
</div>

<script src="../lib/webgl-utils.js"></script>
<script src="../lib/webgl-debug.js"></script>
<script src="../lib/cuon-utils.js"></script>
<script src="../lib/cuon-matrix.js"></script>

<!-- model obj data as a string -->
<!-- model from https://free3d.com/3d-model/house-plant-01-60848.html -->
<script src="eb_house_plant_01.js"></script>
<!-- model included with book sample code, converted into javascript string also -->
<script src="cube.js"></script>

<script>

//------------------------------------------------------------------------------
// OBJParser
//------------------------------------------------------------------------------

// OBJDoc object
// Constructor
var OBJDoc = function(fileName) {
  this.fileName = fileName;
  this.mtls = new Array(0);      // Initialize the property for MTL
  this.objects = new Array(0);   // Initialize the property for Object
  this.vertices = new Array(0);  // Initialize the property for Vertex
  this.normals = new Array(0);   // Initialize the property for Normal
}

// Parsing the OBJ file
OBJDoc.prototype.parse = function(fileString, mtlString, scale, reverse) {
  var lines = fileString.split('\n');  // Break up into lines and store them as array
  lines.push(null); // Append null
  var index = 0;    // Initialize index of line

  var currentObject = null;
  var currentMaterialName = "";
  
  // Parse line by line
  var line;         // A string in the line to be parsed
  var sp = new StringParser();  // Create StringParser
  while ((line = lines[index++]) != null) {
    sp.init(line);                  // init StringParser
	var command = sp.getWord();     // Get command
	if(command == null)	 continue;  // check null command

    switch(command){
    case '#':
      continue;  // Skip comments
    case 'mtllib':     // Read Material chunk
      //var path = this.parseMtllib(sp, this.fileName);
      var mtl = new MTLDoc();   // Create MTL instance
      this.mtls.push(mtl);
      //var request = new XMLHttpRequest();
      //request.onreadystatechange = function() {
        //if (request.readyState == 4) {
          //if (request.status != 404) {
            onReadMTLFile(mtlString, mtl);
          //}else{
          //  mtl.complete = true;
          //}
        //}
      //}
      //request.open('GET', path, true);  // Create a request to acquire the file
      //request.send();                   // Send the request
      continue; // Go to the next line
    case 'o':
    case 'g':   // Read Object name
      console.log("Add object");
      var object = this.parseObjectName(sp);
      this.objects.push(object);
      currentObject = object;
      continue; // Go to the next line
    case 'v':   // Read vertex
      var vertex = this.parseVertex(sp, scale);
      this.vertices.push(vertex); 
      continue; // Go to the next line
    case 'vn':   // Read normal
      var normal = this.parseNormal(sp);
      this.normals.push(normal); 
      continue; // Go to the next line
    case 'usemtl': // Read Material name
      currentMaterialName = this.parseUsemtl(sp);
      continue; // Go to the next line
    case 'f': // Read face
      var face = this.parseFace(sp, currentMaterialName, this.vertices, reverse);
      currentObject.addFace(face);
      continue; // Go to the next line
    }
  }

  return true;
}

OBJDoc.prototype.parseMtllib = function(sp, fileName) {
  // Get directory path
  var i = fileName.lastIndexOf("/");
  var dirPath = "";
  if(i > 0) dirPath = fileName.substr(0, i+1);

  return dirPath + sp.getWord();   // Get path
}

OBJDoc.prototype.parseObjectName = function(sp) {
  var name = sp.getWord();
  return (new OBJObject(name));
}

OBJDoc.prototype.parseVertex = function(sp, scale) {
  var x = sp.getFloat() * scale;
  var y = sp.getFloat() * scale;
  var z = sp.getFloat() * scale;
  return (new Vertex(x, y, z));
}

OBJDoc.prototype.parseNormal = function(sp) {
  var x = sp.getFloat();
  var y = sp.getFloat();
  var z = sp.getFloat();
  return (new Normal(x, y, z));
}

OBJDoc.prototype.parseUsemtl = function(sp) {
  return sp.getWord();
}

OBJDoc.prototype.parseFace = function(sp, materialName, vertices, reverse) {  
  var face = new Face(materialName);
  // get indices
  for(;;){
    var word = sp.getWord();
    if(word == null) break;
    var subWords = word.split('/');
    if(subWords.length >= 1){
      var vi = parseInt(subWords[0]) - 1;
      face.vIndices.push(vi);
    }
    if(subWords.length >= 3){
      var ni = parseInt(subWords[2]) - 1;
      face.nIndices.push(ni);
    }else{
      face.nIndices.push(-1);
    }
  }

  // calc normal
  var v0 = [
    vertices[face.vIndices[0]].x,
    vertices[face.vIndices[0]].y,
    vertices[face.vIndices[0]].z];
  var v1 = [
    vertices[face.vIndices[1]].x,
    vertices[face.vIndices[1]].y,
    vertices[face.vIndices[1]].z];
  var v2 = [
    vertices[face.vIndices[2]].x,
    vertices[face.vIndices[2]].y,
    vertices[face.vIndices[2]].z];

  // 面の法線を計算してnormalに設定
  var normal = calcNormal(v0, v1, v2);
  // 法線が正しく求められたか調べる
  if (normal == null) {
    if (face.vIndices.length >= 4) { // 面が四角形なら別の3点の組み合わせで法線計算
      var v3 = [
        vertices[face.vIndices[3]].x,
        vertices[face.vIndices[3]].y,
        vertices[face.vIndices[3]].z];
      normal = calcNormal(v1, v2, v3);
    }
    if(normal == null){         // 法線が求められなかったのでY軸方向の法線とする
      normal = [0.0, 1.0, 0.0];
    }
  }
  if(reverse){
    normal[0] = -normal[0];
    normal[1] = -normal[1];
    normal[2] = -normal[2];
  }
  face.normal = new Normal(normal[0], normal[1], normal[2]);

  // Devide to triangles if face contains over 3 points.
  if(face.vIndices.length > 3){
    var n = face.vIndices.length - 2;
    var newVIndices = new Array(n * 3);
    var newNIndices = new Array(n * 3);
    for(var i=0; i<n; i++){
      newVIndices[i * 3 + 0] = face.vIndices[0];
      newVIndices[i * 3 + 1] = face.vIndices[i + 1];
      newVIndices[i * 3 + 2] = face.vIndices[i + 2];
      newNIndices[i * 3 + 0] = face.nIndices[0];
      newNIndices[i * 3 + 1] = face.nIndices[i + 1];
      newNIndices[i * 3 + 2] = face.nIndices[i + 2];
    }
    face.vIndices = newVIndices;
    face.nIndices = newNIndices;
  }
  face.numIndices = face.vIndices.length;

  return face;
}

// Analyze the material file
function onReadMTLFile(fileString, mtl) {
  var lines = fileString.split('\n');  // Break up into lines and store them as array
  lines.push(null);           // Append null
  var index = 0;              // Initialize index of line

  // Parse line by line
  var line;      // A string in the line to be parsed
  var name = ""; // Material name
  var sp = new StringParser();  // Create StringParser
  while ((line = lines[index++]) != null) {
    sp.init(line);                  // init StringParser
    var command = sp.getWord();     // Get command
    if(command == null)	 continue;  // check null command

    switch(command){
    case '#':
      continue;    // Skip comments
    case 'newmtl': // Read Material chunk
      name = mtl.parseNewmtl(sp);    // Get name
      continue; // Go to the next line
    case 'Kd':   // Read normal
      if(name == "") continue; // Go to the next line because of Error
      var material = mtl.parseRGB(sp, name);
      mtl.materials.push(material);
      name = "";
      continue; // Go to the next line
    }
  }
  mtl.complete = true;
}

// Check Materials
OBJDoc.prototype.isMTLComplete = function() {
  if(this.mtls.length == 0) return true;
  for(var i = 0; i < this.mtls.length; i++){
    if(!this.mtls[i].complete) return false;
  }
  return true;
}

// Find color by material name
OBJDoc.prototype.findColor = function(name){
  for(var i = 0; i < this.mtls.length; i++){
    for(var j = 0; j < this.mtls[i].materials.length; j++){
      if(this.mtls[i].materials[j].name == name){
        return(this.mtls[i].materials[j].color)
      }
    }
  }
  return(new Color(0.8, 0.8, 0.8, 1));
}

//------------------------------------------------------------------------------
// Retrieve the information for drawing 3D model
OBJDoc.prototype.getDrawingInfo = function() {
  // Create an arrays for vertex coordinates, normals, colors, and indices
  var numIndices = 0;
  for(var i = 0; i < this.objects.length; i++){
    numIndices += this.objects[i].numIndices;
  }
  var numVertices = numIndices;
  var vertices = new Float32Array(numVertices * 3);
  var normals = new Float32Array(numVertices * 3);
  var colors = new Float32Array(numVertices * 4);
  var indices = new Uint16Array(numIndices);

  // Set vertex, normal and color
  var index_indices = 0;
  for(var i = 0; i < this.objects.length; i++){
    var object = this.objects[i];
    for(var j = 0; j < object.faces.length; j++){
      var face = object.faces[j];
      var color = this.findColor(face.materialName);
      var faceNormal = face.normal;
      for(var k = 0; k < face.vIndices.length; k++){
        // Set index
        indices[index_indices] = index_indices;
        // Copy vertex
        var vIdx = face.vIndices[k];
        var vertex = this.vertices[vIdx];
        vertices[index_indices * 3 + 0] = vertex.x;
        vertices[index_indices * 3 + 1] = vertex.y;
        vertices[index_indices * 3 + 2] = vertex.z;
        // Copy color
        colors[index_indices * 4 + 0] = color.r;
        colors[index_indices * 4 + 1] = color.g;
        colors[index_indices * 4 + 2] = color.b;
        colors[index_indices * 4 + 3] = color.a;
        // Copy normal
        var nIdx = face.nIndices[k];
        if(nIdx >= 0){
          var normal = this.normals[nIdx];
          normals[index_indices * 3 + 0] = normal.x;
          normals[index_indices * 3 + 1] = normal.y;
          normals[index_indices * 3 + 2] = normal.z;
        }else{
          normals[index_indices * 3 + 0] = faceNormal.x;
          normals[index_indices * 3 + 1] = faceNormal.y;
          normals[index_indices * 3 + 2] = faceNormal.z;
        }
        index_indices ++;
      }
    }
  }

  return new DrawingInfo(vertices, normals, colors, indices);
}

//------------------------------------------------------------------------------
// MTLDoc Object
//------------------------------------------------------------------------------
var MTLDoc = function() {
  this.complete = false; // MTL is configured correctly
  this.materials = new Array(0);
}

MTLDoc.prototype.parseNewmtl = function(sp) {
  return sp.getWord();         // Get name
}

MTLDoc.prototype.parseRGB = function(sp, name) {
  var r = sp.getFloat();
  var g = sp.getFloat();
  var b = sp.getFloat();
  return (new Material(name, r, g, b, 1));
}

//------------------------------------------------------------------------------
// Material Object
//------------------------------------------------------------------------------
var Material = function(name, r, g, b, a) {
  this.name = name;
  this.color = new Color(r, g, b, a);
}

//------------------------------------------------------------------------------
// Vertex Object
//------------------------------------------------------------------------------
var Vertex = function(x, y, z) {
  this.x = x;
  this.y = y;
  this.z = z;
}

//------------------------------------------------------------------------------
// Normal Object
//------------------------------------------------------------------------------
var Normal = function(x, y, z) {
  this.x = x;
  this.y = y;
  this.z = z;
}

//------------------------------------------------------------------------------
// Color Object
//------------------------------------------------------------------------------
var Color = function(r, g, b, a) {
  this.r = r;
  this.g = g;
  this.b = b;
  this.a = a;
}

//------------------------------------------------------------------------------
// OBJObject Object
//------------------------------------------------------------------------------
var OBJObject = function(name) {
  this.name = name;
  this.faces = new Array(0);
  this.numIndices = 0;
}

OBJObject.prototype.addFace = function(face) {
  this.faces.push(face);
  this.numIndices += face.numIndices;
}

//------------------------------------------------------------------------------
// Face Object
//------------------------------------------------------------------------------
var Face = function(materialName) {
  this.materialName = materialName;
  if(materialName == null)  this.materialName = "";
  this.vIndices = new Array(0);
  this.nIndices = new Array(0);
}

//------------------------------------------------------------------------------
// DrawInfo Object
//------------------------------------------------------------------------------
var DrawingInfo = function(vertices, normals, colors, indices) {
  this.vertices = vertices;
  this.normals = normals;
  this.colors = colors;
  this.indices = indices;
}

//------------------------------------------------------------------------------
// Constructor
var StringParser = function(str) {
  this.str;   // Store the string specified by the argument
  this.index; // Position in the string to be processed
  this.init(str);
}
// Initialize StringParser object
StringParser.prototype.init = function(str){
  this.str = str;
  this.index = 0;
}

// Skip delimiters
StringParser.prototype.skipDelimiters = function()  {
  for(var i = this.index, len = this.str.length; i < len; i++){
    var c = this.str.charAt(i);
    // Skip TAB, Space, '(', ')
    if (c == '\t'|| c == ' ' || c == '(' || c == ')' || c == '"') continue;
    break;
  }
  this.index = i;
}

// Skip to the next word
StringParser.prototype.skipToNextWord = function() {
  this.skipDelimiters();
  var n = getWordLength(this.str, this.index);
  this.index += (n + 1);
}

// Get word
StringParser.prototype.getWord = function() {
  this.skipDelimiters();
  var n = getWordLength(this.str, this.index);
  if (n == 0) return null;
  var word = this.str.substr(this.index, n);
  this.index += (n + 1);

  return word;
}

// Get integer
StringParser.prototype.getInt = function() {
  return parseInt(this.getWord());
}

// Get floating number
StringParser.prototype.getFloat = function() {
  return parseFloat(this.getWord());
}

// Get the length of word
function getWordLength(str, start) {
  var n = 0;
  for(var i = start, len = str.length; i < len; i++){
    var c = str.charAt(i);
    if (c == '\t'|| c == ' ' || c == '(' || c == ')' || c == '"') 
	break;
  }
  return i - start;
}

//------------------------------------------------------------------------------
// Common function
//------------------------------------------------------------------------------
function calcNormal(p0, p1, p2) {
  // v0: a vector from p1 to p0, v1; a vector from p1 to p2
  var v0 = new Float32Array(3);
  var v1 = new Float32Array(3);
  for (var i = 0; i < 3; i++){
    v0[i] = p0[i] - p1[i];
    v1[i] = p2[i] - p1[i];
  }

  // The cross product of v0 and v1
  var c = new Float32Array(3);
  c[0] = v0[1] * v1[2] - v0[2] * v1[1];
  c[1] = v0[2] * v1[0] - v0[0] * v1[2];
  c[2] = v0[0] * v1[1] - v0[1] * v1[0];

  // Normalize the result
  var v = new Vector3(c);
  v.normalize();
  return v.elements;
}

</script>

<script id="WebGLScript">
    
// vertex shader program
var VertexShaderStr =`
    attribute vec4 aPosition; // vertex data passed into the shader
    attribute vec4 aColor;
    attribute vec4 aNormal;
    
    uniform mat4 uModelMatrix;
    uniform mat4 uNormalMatrix; // inverse transpose of the model matrix
    uniform mat4 uViewMatrix;
    uniform mat4 uProjectionMatrix;
    
    varying vec4 vColor;
    varying vec3 vNormal;
    varying vec3 vPosition;
    
    void main() {
        gl_Position = uProjectionMatrix * uViewMatrix * uModelMatrix * aPosition; // coordinates
        
        vPosition = vec3(uModelMatrix * aPosition); // world space vertex coord
        vNormal = normalize(vec3(uNormalMatrix * aNormal));
        vColor = aColor;
    }
`;

// fragment shader program
var FragmentShaderStr = `
    precision mediump float;
    
    uniform vec3 uLightColor;
    uniform vec3 uLightPosition;
    uniform vec3 uAmbientColor;
    
    varying vec4 vColor; // passed from vertex shader
    varying vec3 vNormal;
    varying vec3 vPosition;
    
    // point light
    vec3 calcPoint() {
    
        // normalize input
        vec3 normal = normalize(vNormal);
        
        // normalized light direction
        //vec3 lightDir = normalize(uLightPosition - vPosition);
        vec3 lightDir = normalize(uLightPosition);
        
        // diffuse dot product
        float nDotL = max(dot(lightDir, normal), 0.0);
        
        // diffuse calculation
        vec3 diffuse = uLightColor * vec3(vColor) * nDotL;
        
        return diffuse;
    }
    
    vec3 calcAmbient() {
        return uAmbientColor * vec3(vColor);
    }
    
    void main() {
        //gl_FragColor = vColor;
        gl_FragColor = vec4(calcPoint() + calcAmbient(), 1.0);
    }
`;

function main() {
    
    // retrieve the canvas element
    var canvas = document.getElementById("mycanvas");
    
    if (!canvas) {
        console.log("Failed to get canvas element");
        return false;
    }
    
    var gl = getWebGLContext(canvas);
    if (!gl) {
        console.log("Failed to get OpenGL context");
        return false;
    }
    
    
    // Load and compile shader programs
    if (!initShaders(gl, VertexShaderStr, FragmentShaderStr)) {
        console.log("Failed to init shaders");
        return false;
    }
    
    // empty buffer objects to be used with the obj model
    var model = initVertexBuffers(gl);
    
    // load the obj model
    console.log("calling read obj file");
    var objDocFinished = false;
    var objDoc = null;
    var drawingInfo = null;
    
    // NOTE - this code doesn't seem to work with higher poly models,
    // not sure why...
    
    //readOBJFile("cube.obj", gl, model, 60, true);
    //readOBJFile("eb_house_plant_01.obj", gl, model, 3, true);
    //readOBJFile("teapot_blender.obj", gl, model, 30, true);
    //readOBJFile(bunnyObjStr, bunnyMtlStr, "bunny.obj", gl, model, 60, true);
    readOBJFile(eb_house_plant_01_str, eb_house_plant_01_mtl, "eb_house_plant_01.obj", gl, model, 5, true);
    //readOBJFile(cubeObjStr, cubeMtlStr, "cube.obj", gl, model, 60, true);
    drawingInfo = onReadComplete(gl, model, objDoc);
    
    // enable checking depth before drawing
    // try commenting out to see what happens
    gl.enable(gl.DEPTH_TEST);
    
    // enable offset to mitigate z fighting
    //gl.enable(gl.POLYGON_OFFSET_FILL);
    //gl.polygonOffset(1.0, 1.0);
    
    // set lighting uniforms
    var uLightColor = gl.getUniformLocation(gl.program, "uLightColor");
    var uLightPosition = gl.getUniformLocation(gl.program, "uLightPosition");
    var uAmbientColor = gl.getUniformLocation(gl.program, "uAmbientColor");
    gl.uniform3f(uLightColor, 1.0, 1.0, 1.0);
    var lightPosition = new Vector3([1.0, 5.0, 2.0]);
    gl.uniform3fv(uLightPosition, lightPosition.elements);
    gl.uniform3f(uAmbientColor, 0.2, 0.2, 0.2);
    
    // get matrix uniforms
    var uModelMatrix = gl.getUniformLocation(gl.program, "uModelMatrix");
    var uViewMatrix = gl.getUniformLocation(gl.program, "uViewMatrix");
    var uProjectionMatrix = gl.getUniformLocation(gl.program, "uProjectionMatrix");
    var uNormalMatrix = gl.getUniformLocation(gl.program, "uNormalMatrix");
    if (uModelMatrix < 0 ||
        uViewMatrix < 0 ||
        uProjectionMatrix < 0 ||
        uNormalMatrix < 0) {
        console.log("Failed to get matrix uniforms");
        return false;
    }
    
    // calculate projection (perspective) matrix
    var projectionMatrix = new Matrix4();
    var fov = 30; // field of view angle
    var aspect = canvas.width / canvas.height; // aspect ratio
    var near = 1.0; // near clip distance
    var far = 5000.0; // far clip distance
    projectionMatrix.setPerspective(fov, aspect, near, far);
    
    // calculate the view matrix
    var viewMatrix = new Matrix4();
    viewMatrix.setLookAt(0.0,  // eye position x
                         200.0,  // eye position y
                         400.0,  // eye position z
                         0,     // lookat position x
                         0,     // lookat position y
                         0,     // lookat position z
                         0,     // up x
                         1,     // up y
                         0);    // up z
    
    // calcualate the model matrix
    var modelMatrix = new Matrix4();
    var modelRotation = [45.0, 45.0]; // x and y rotation
    modelMatrix.setTranslate(0, 0, 0);
    modelMatrix.rotate(modelRotation[0], 1, 0, 0);
    modelMatrix.rotate(modelRotation[1], 0, 1, 0);
    
    // calculate the normal matrix
    var normalMatrix = new Matrix4();
    normalMatrix.setInverseOf(modelMatrix);
    normalMatrix.transpose();
    
    // send matrices to the shader
    gl.uniformMatrix4fv(uModelMatrix, false, modelMatrix.elements);
    gl.uniformMatrix4fv(uViewMatrix, false, viewMatrix.elements);
    gl.uniformMatrix4fv(uProjectionMatrix, false, projectionMatrix.elements);
    gl.uniformMatrix4fv(uNormalMatrix, false, normalMatrix.elements);
    // alternatively, could send a single matrix via
    //   mvpMatrix.set(projMatrix).multiply(viewMatrix).multiply(projMatrix)
    //   gl.uniformMatrix4fv(uMVPMatrix, mvpMatrix.elements);
    
    function draw() {
        
        if (!drawingInfo) return;
        
        // specify the color to clear the canvas with
        gl.clearColor(0.3, 0.0, 0.3, 1.0);
        
        // clear the canvas
        gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);
        
        // rotate a little
        modelRotation[0] = (modelRotation[0] + 0.3) % 360.0;
        modelRotation[1] = (modelRotation[1] + 0.7) % 360.0;
        
        // update model matrix
        modelMatrix.setTranslate(0, 0, 0);
        modelMatrix.rotate(modelRotation[0], 1, 0, 0);
        modelMatrix.rotate(modelRotation[1], 0, 1, 0);
        
        // calculate the normal matrix
        normalMatrix.setInverseOf(modelMatrix);
        normalMatrix.transpose();
        
        // update shader uniforms
        gl.uniformMatrix4fv(uModelMatrix, false, modelMatrix.elements);
        gl.uniformMatrix4fv(uNormalMatrix, false, normalMatrix.elements);
        
        // actually do the drawing now
        gl.drawElements(gl.TRIANGLES, drawingInfo.indices.length, gl.UNSIGNED_SHORT, 0);
        
    }
    
    // continuously updates the screen
    function mainLoop() {
    
        draw();
        
        requestAnimationFrame(mainLoop);
    }
    // initial loop call
    mainLoop();
    
    
    
    
    
    function readOBJFile(fileStr, mtlStr, fileName, gl, model, scale, reverse) {
        //var request = new XMLHttpRequest();
        
        //request.onreadystatechange = function() {
            //if (request.readyState === 4 && request.status !== 404) {
                onReadOBJFile(fileStr, mtlStr, fileName, gl, model, scale, reverse);
            //}
        //}
        //console.log("sending request");
        //request.open("GET", fileName, true);
        //request.send();
    }

    function onReadOBJFile(fileString, mtlString, fileName, gl, o, scale, reverse) {
        console.log("onReadOBJFile");
        objDoc = new OBJDoc(fileName);
        var result = objDoc.parse(fileString, mtlString, scale, reverse);
        if (!result) {
            objDoc = null;
            drawingInfo = null;
            console.log("OBJ file parsing error");
            return;
        }
        objDocFinished = true;
        
        //while (!objDoc.isMTLComplete())
        //{
        //    var now = Date.now();
        //    var end = now + 1000; // milliseconds
        //    while (now < end) { now = Date.now(); }
        //}
        //drawingInfo = onReadComplete(gl, model, objDoc);
    }

    // once model loaded from server, parse and store info in buffers
    var drawingInfoDone = false;
    function onReadComplete(gl, model, oDoc) {
        
        // acquire vertex coords and others from the OBJ model
        var dInfo = oDoc.getDrawingInfo();
        
        gl.bindBuffer(gl.ARRAY_BUFFER, model.vertexBuffer);
        gl.bufferData(gl.ARRAY_BUFFER, dInfo.vertices, gl.STATIC_DRAW);
        
        // Get vertex attribute
        //var aPosition = gl.getAttribLocation(gl.program, "aPosition");
        var aPosition = gl.program.aPosition;
        if (aPosition < 0) {
            console.log("Failed to get aPosition attribute");
            return -1;
        }
        
        // tell opengl about the data we just sent it
        gl.vertexAttribPointer(aPosition,   // the attribute location
                                3,          // number of points per vertex (x,y,z)
                                gl.FLOAT,   // vertex data type
                                false,      // does the data need normalization?
                                0,          // how many bytes to move to the next vertex (0 for default)
                                0);         // first vertex entry offset
        // give opengl the OK to use these properties for this attribute
        gl.enableVertexAttribArray(aPosition);
        
        // we are now referring to the color buffer
        //gl.bindBuffer(gl.ARRAY_BUFFER, colorBuffer);
        
        
        
        // bind the buffer object that we are currently referring to
        //gl.bindBuffer(gl.ARRAY_BUFFER, normalBuffer);
        
        
        
        gl.bindBuffer(gl.ARRAY_BUFFER, model.normalBuffer);
        gl.bufferData(gl.ARRAY_BUFFER, dInfo.normals, gl.STATIC_DRAW);
        
        // Get vertex attribute
        //var aNormal = gl.getAttribLocation(gl.program, "aNormal");
        var aNormal = gl.program.aNormal;
        if (aNormal < 0) {
            console.log("Failed to get aNormals attribute");
            return -1;
        }
        
        // tell opengl about the data we just sent it
        gl.vertexAttribPointer(aNormal,   // the attribute location
                                3,          // number of points per vertex (x,y,z)
                                gl.FLOAT,   // vertex data type
                                false,      // does the data need normalization?
                                0,          // how many bytes to move to the next vertex (0 for default)
                                0);         // first vertex entry offset
        // give opengl the OK to use these properties for this attribute
        gl.enableVertexAttribArray(aNormal);
        
        gl.bindBuffer(gl.ARRAY_BUFFER, model.colorBuffer);
        gl.bufferData(gl.ARRAY_BUFFER, dInfo.colors, gl.STATIC_DRAW);
        
        // Get vertex attribute
        //var aColor = gl.getAttribLocation(gl.program, "aColor");
        var aColor = gl.program.aColor;
        if (aColor < 0) {
            console.log("Failed to get aColor attribute");
            return -1;
        }
        
        // tell opengl about the data we just sent it
        gl.vertexAttribPointer(aColor,   // the attribute location
                                4,          // number of points per element (r,g,b,a)
                                gl.FLOAT,   // vertex data type
                                false,      // does the data need normalization?
                                0,   // how many bytes to move to the next vertex
                                0);  // first vertex entry offset
        // give opengl the OK to use these properties for this attribute
        gl.enableVertexAttribArray(aColor);
        
        gl.bindBuffer(gl.ELEMENT_ARRAY_BUFFER, model.indexBuffer);
        gl.bufferData(gl.ELEMENT_ARRAY_BUFFER, dInfo.indices, gl.STATIC_DRAW);
        
        drawingInfoDone = true;
        return dInfo;
    }
}
main();

// creates and stores 3 points in a vertex buffer, returning the number
// of vertices in the buffer
function initVertexBuffers(gl) {
    
    console.log("init vertex buffers");
    
    // create the buffer objects
    var vertexBuffer = gl.createBuffer();
    var colorBuffer = gl.createBuffer();
    var normalBuffer = gl.createBuffer();
    var indexBuffer = gl.createBuffer();
    if (!vertexBuffer || !indexBuffer || !colorBuffer || !normalBuffer) {
        console.log("Failed to create vertex or index buffer obj");
        return -1;
    }
    
    // bind the buffer object that we are currently referring to
    //gl.bindBuffer(gl.ARRAY_BUFFER, vertexBuffer);
    
    // Get vertex attribute
    var aPosition = gl.getAttribLocation(gl.program, "aPosition");
    if (aPosition < 0) {
        console.log("Failed to get aPosition attribute");
        return -1;
    }
    
    // Get vertex attribute
    var aColor = gl.getAttribLocation(gl.program, "aColor");
    if (aColor < 0) {
        console.log("Failed to get aColor attribute");
        return -1;
    }
    
    // Get vertex attribute
    var aNormal = gl.getAttribLocation(gl.program, "aNormal");
    if (aNormal < 0) {
        console.log("Failed to get aNormals attribute");
        return -1;
    }
    
    // save the attribute locations
    gl.program.aPosition = aPosition;
    gl.program.aColor = aColor;
    gl.program.aNormal = aNormal;
    
    return {
        "vertexBuffer": vertexBuffer,
        "normalBuffer": normalBuffer,
        "colorBuffer": colorBuffer,
        "indexBuffer": indexBuffer
    };
}


</script>

<script>
function initMain() {
    var codeArea = document.getElementById("codeArea");
    var webGLScript = document.getElementById("WebGLScript");

    codeArea.value = webGLScript.text;

    var runButton = document.getElementById("runButton");
    runButton.onclick = function() {
        var runFunc = new Function(codeArea.value);
        runFunc();
    }
    //var initialRunFunc = new Function(codeArea.value);
    //initialRunFunc();
}
</script>

</body>
</html>
