<!-- code samples from the book can be found here:
     https://sites.google.com/site/webglbook/
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>15 scale matrix</title>
</head>
<body onload="main()">
<canvas id="mycanvas" width="200" height="150">
    Your Browser doesn't support canvas :(
</canvas>

<script src="../lib/webgl-utils.js"></script>
<script src="../lib/webgl-debug.js"></script>
<script src="../lib/cuon-utils.js"></script>

<script>
    
// vertex shader program
var VertexShaderStr =`
    attribute vec4 aPosition; // vertex data passed into the shader
    uniform mat4 uTransformMatrix; // combination of rotate and translate
    void main() {
        gl_Position = uTransformMatrix * aPosition;
    }
`;

// fragment shader program
var FragmentShaderStr = `
    precision mediump float;
    uniform vec4 uColor; // fragment color
    void main() {
        gl_FragColor = uColor; // fragment color
    }
`;

function main() {

    
    // retrieve the canvas element
    var canvas = document.getElementById("mycanvas");
    
    if (!canvas) {
        console.log("Failed to get canvas element");
        return false;
    }
    
    var gl = getWebGLContext(canvas);
    if (!gl) {
        console.log("Failed to get OpenGL context");
        return false;
    }
    
    // Load and compile shader programs
    if (!initShaders(gl, VertexShaderStr, FragmentShaderStr)) {
        console.log("Failed to init shaders");
        return false;
    }
    
    // create vertex buffers
    var n = initVertexBuffers(gl); // n = number of vertices
    if (n < 0) {
        console.log("Failed to set positions of the vertices");
        return false;
    }
    
    // Get pixel color uniform
    var uColor = gl.getUniformLocation(gl.program, "uColor");
    if (uColor < 0) {
        console.log("Failed to get point color attribute");
        return false;
    }
    
    // send pixel color to fragment shader uniform
    var pixelColor = new Float32Array([0.0, 1.0, 0.0, 1.0]);
    gl.uniform4fv(uColor, pixelColor);
    
    // Get cos and sin angle uniforms
    var uTransformMatrix = gl.getUniformLocation(gl.program, "uTransformMatrix");
    if (uTransformMatrix < 0) {
        console.log("Failed to get transform matrix uniform");
        return false;
    }
    
    // create scaling matrix
    var scales = [1.75, 0.5, 1.0];
    // data is stored in column major order (one column at a time, in order)
    // meaning our original desired matrix is transposed
    var transformMatrix = new Float32Array([scales[0], 0.0, 0.0, 0.0,
                                            0.0, scales[1], 0.0, 0.0,
                                            0.0, 0.0, scales[2], 0.0,
                                            0.0, 0.0, 0.0, 1.0]);
    
    // send transform matrix to the shader
    gl.uniformMatrix4fv(uTransformMatrix, 
                        false,  // whether or not to transpose; always false in webgl
                        transformMatrix);
    
    // specify the color to clear the canvas with
    gl.clearColor(1.0, 0.0, 0.0, 1.0);
    
    // clear the canvas
    gl.clear(gl.COLOR_BUFFER_BIT);
    
    // draw a point
    gl.drawArrays(gl.TRIANGLES, // mode; gl.POINTS, gl.LINES, gl.LINE_STRIP, gl.LINE_LOOP, gl.TRIANGLES, gl.TRIANGLE_STRIP, or gl.TRIANGLE_FAN
                  0,         // vertex offset to draw from
                  n);        // number of MODE to draw
}

// creates and stores 3 points in a vertex buffer, returning the number
// of vertices in the buffer
function initVertexBuffers(gl) {
    
    // the vertices to store in the buffer
    var vertices = new Float32Array([0.0, 0.5,  // first point (top left)
                                     -0.5, -0.5, // second point (bottom left)
                                     0.5, -0.5]); // third point (bottom right)
    var n = 3; // number of vertices
    
    // create the buffer object
    var vertexBuffer = gl.createBuffer();
    if (!vertexBuffer) {
        console.log("Failed to create vertex buffer obj");
        return -1;
    }
    
    // bind the buffer object that we are currently referring to
    gl.bindBuffer(gl.ARRAY_BUFFER, vertexBuffer);
    // send data to the buffer
    gl.bufferData(gl.ARRAY_BUFFER, vertices, gl.STATIC_DRAW);
    
    // Get vertex attribute
    var aPosition = gl.getAttribLocation(gl.program, "aPosition");
    if (aPosition < 0) {
        console.log("Failed to get aPosition attribute");
        return -1;
    }
    
    // tell opengl about the data we just sent it
    gl.vertexAttribPointer(aPosition,   // the attribute location
                            2,          // number of points per vertex
                            gl.FLOAT,   // vertex data type
                            false,      // does the data need normalization?
                            0,          // how many bytes to move to the next vertex (0 for default)
                            0);         // first vertex entry offset
    // give opengl the OK to use these properties for this attribute
    gl.enableVertexAttribArray(aPosition);
    
    // give back the number of vertices in the buffer
    return n;
}

</script>
</body>
</html>
