<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>BJ's Website</title>
</head>
<body>

<h1>Chapter 3 - Radio Frequency Spectrum Viewing</h1>

<h3>RF Spectrum</h3>
<p>Range 3kHz - 300GHz</p>
<img src="rf_spectrum.png"/>

<h3>Modulation/Demodulation</h3>
<p>
Translates baseband information (music, voice, data, etc.) into the
allocated frequency band. Demodulation translates from
frequency band into baseband.
</p>

<h3>Antennas</h3>
<p>Can be designed for directional gain and specific frequencies (narrowband antenna) or
non-directional low gain (broadband antenna)</p>

<h3>Polarisation</h3>
<ul>
  <li>Linearly polarized: signals transmitted in one plane.</li>
  <li>Circularly polarised: signals transmitted in two planes as a helix.</li>
  <li>Antennas are polarised to match</li>
</ul>
<img src="polarization.png"/>

<h3>Adapters</h3>
<p>The cable length and number of adapters should be kept to
a minimum as they act as filters and degrade signal quality</p>

<h3>Bandwidth</h3>
<p>The frequency range of your signal based off of your
sample frequency. Your range is within 
[f<sub>c</sub> - f<sub>s</sub>/2, f<sub>c</sub> + f<sub>s</sub>/2],
Where f<sub>s</sub> is the sample frequency (width) and f<sub>c</sub>
is the center frequency</p>

<h3>Time Divison Multiple Access (TDMA)</h3>
<p>Allows multiple users to access a single channel by
dividing access into time slots. Used by GSM 2G wireless
standard.</p>

<h3>Wide Code Division Multiple Access (WCDMA)</h3>
<p>Uses a wider bandwidth (5MHz for 3G wireless) as
a "spread spectrum" allowing multiple users to 
access the signal at the same time by assigning a
code for that unique device which is specified in a 
broadcast signal. So all phones would receive the signal
but ignore it if their code doesnt match</p>

<h3>Orthogonal Frequency Division Multiple Access (OFDMA)</h3>
<p>Uses both time and frequency division to assign resources to individual
users. Used by 4G wireless standard.</p>

<h3>Guard Band</h3>
<p>A frequency range of a certain bandwidth used to separate to other frequency
areas in a channel to make sure they don't accidently overlap and interfere with 
each other. This range is empty and only used to fill space like a block.</p>

<h3>Key Fobs and Wireless Sensors</h3>
<p>Generally use 433 MHz (Car key fobs use 433.9 MHz). A google search of the FCC ID
on a keyfob I had brought me here: <a href="https://fccid.io/ELVATNB">https://fccid.io/ELVATNB</a>
which sure enough specified a frequency of 433.92 MHz.</p>
<p>After setting the center frequency to this in the matlab model, you can see the signal show
up on the waterfall when the keyfob is pressed:</p>
<img src="keyfob.gif"/>

<h3>Coded Orthogonal Frequency Division Multiplexing (COFDM)</h3>
<p>Transmits the coded information on 1000 or more orthogonal RF carriers. Used by DVB-T DTV
signals. Used by the unmodified versions of the RTL-SDR (originally DTV receivers)</p>

<h3>Frequency Sweep</h3>
<p>Viewing a larger bandwidth of frequency by repeatedly increasing/decreasing the center
frequency then recording the data</p>

</body>
</html>

