<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BJ's Website</title>
    
  <link rel="stylesheet" type="text/css" href="../../site.css"/>
</head>
<body>
<h1>SDR4Engineers</h1>

<p>Notes for "Software-Defined Radio for Engineers"
by Collins, Getz, Pu, Wyglinski</p>
<ul>
<li><a href="chapter1/chapter1.html">Chapter 1: Introduction to Software-Defined Radio</a></li>
</ul>

<a href="https://www.analog.com/media/en/training-seminars/design-handbooks/Software-Defined-Radio-for-Engineers-2018/SDR4Engineers.pdf">
<img src="bookcover.png"/>
</a>

<p>
<a href="../../index.html">&lt;-- Back to Home</a>
</p>

</body>
</html>

