<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BJ's Website</title>
    
  <link rel="stylesheet" type="text/css" href="../../site.css"/>
  
  <style>
    #mycanvas {
        width: 640px;
        height: 480px;
        overflow: hidden;
    }
</style>
</head>
<body>

<div style="width:640px; height:480px; margin-left: auto; margin-right: auto;">
    <canvas id="mycanvas" width="640" height="480"></canvas>
</div>

<script src="constants.js"></script>
<script src="gameTime.js"></script>
<script src="renderer.js"></script>
<script src="tilesArrays.js"></script>
<script src="tile.js"></script>
<script src="board.js"></script>
<script>

var DrawNext = function()
{
    renderer.DrawText( 400, 100, "30px Monospace", "#FFFFFF", "Next" );
    NextTile.x = 400;
    NextTile.y = 150;
    DrawTile( NextTile );
}

renderer.Init( 640, 480 );
console.log( "Render init: ", 
              renderer.width, 
              renderer.height );

var MainLoop = function()
{
    renderer.Clear();
    UpdateGameTime();
    UpdateTile();
    
    DrawBoard();
    DrawNext();
    DrawTile( CurTile );
    
    requestAnimationFrame( MainLoop );
}

// start the main loop
requestAnimationFrame( MainLoop );

</script>

<p>
<a href="../../index.html">&lt;-- Back to Home</a>
</p>

</body>
</html>

