body, html {
  background-image: url("images/sandlite.jpeg");
  background-repeat: repeat;
  height: 100%;
}
    
table, tr, th, td {
  border: 2px groove black;
  border-collapse: collapse;
  margin: 10px;
  padding: 2px;
}

.content-table {
  vertical-align: top;
  margin: 10px;
  border: none;
}

.nav-bar {
  padding-right:10px;
  min-width: 100px;
}