body {
  /*background-image: url("images/sandlite.jpeg");*/
  /*background-image: url("images/ffvi3_16x16.png");*/
  /*background-image: url("images/greycloth.jpg");*/
  /*background-image: url("images/grey_from_chris.gif");*/
  /*background-image: url("images/grey_seamless.jpg");*/
  /*background-image: url("images/leather_texture.jpeg");*/
  /*background-image: url("images/sandlite.jpeg");*/
  /*background-image: url("images/space_texture.jpeg");*/
  /*background-image: url("images/Stitches.bmp");*/
  /*background-image: linear-gradient(to bottom right, #000000, #444444);*/
  /*background-image: url("images/prairiewind.png");*/
  /*background-image: url("http://myrkr.info/photo/Tiles/Macintosh%20System%207.5.3%20Desktop%20Patterns/28851.png");*/
  background-color: #181A26;
  height: 100%;
  color: white;
  /*color: black;*/
}

a:link {
  /*color: #FF0000;*/
  /*color: blue;*/
  /*color: #00FFFF;*/
  color: #D053D4;
}

a:visited {
  color: #EEDDEE;
}

table, tr, th, td {
  border: 1px solid #005555;
  border-collapse: collapse;
  margin: 10px;
  padding: 2px;
}

pre {
	background-color: #000000;
    color: #FFBAFF;
    border: 1px solid #994499;
    padding: 5px;
    box-shadow: 3px 3px #440044;
}

.content-table {
  vertical-align: top;
  margin: 10px;
  border: none;
}

.nav-bar {
  padding-right:10px;
  min-width: 100px;
}
