<!-- code samples from the book can be found here:
     https://sites.google.com/site/webglbook/
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>28 LookAtTriangles Orthographic</title>
</head>
<body onload="initMain()">
<div style="display:flex;">
    <canvas id="mycanvas" width="600" height="600">
        Your Browser doesn't support canvas :(
    </canvas>
    <div>
        <textarea cols="80" rows="40" id="codeArea" style="padding:5px;"></textarea>
        <br/>
        <button type="button" id="runButton">Run</button>
    </div>
</div>
<p>Press left/right/up/down to increase/decrease near/far</p>
<p id="nearFar"></p>

<script src="../lib/webgl-utils.js"></script>
<script src="../lib/webgl-debug.js"></script>
<script src="../lib/cuon-utils.js"></script>
<script src="../lib/cuon-matrix.js"></script>

<script id="WebGLScript">
    
// vertex shader program
var VertexShaderStr =`
    attribute vec4 aPosition; // vertex data passed into the shader
    attribute vec4 aColor;
    varying vec4 vColor;
    uniform mat4 uModelViewProjectionMatrix; // eye lookat matrix
    void main() {
        gl_Position = uModelViewProjectionMatrix * aPosition; // coordinates
        vColor = aColor; // color
    }
`;

// fragment shader program
var FragmentShaderStr = `
    precision mediump float;
    varying vec4 vColor; // passed from vertex shader
    void main() {
        gl_FragColor = vColor;
    }
`;

function main() {

    // element to display the near and far coordinates
    var nearFar = document.getElementById("nearFar");
    
    // retrieve the canvas element
    var canvas = document.getElementById("mycanvas");
    
    if (!canvas) {
        console.log("Failed to get canvas element");
        return false;
    }
    
    var gl = getWebGLContext(canvas);
    if (!gl) {
        console.log("Failed to get OpenGL context");
        return false;
    }
    
    // Load and compile shader programs
    if (!initShaders(gl, VertexShaderStr, FragmentShaderStr)) {
        console.log("Failed to init shaders");
        return false;
    }
    
    // create vertex buffers
    var n = initVertexBuffers(gl); // n = number of vertices
    if (n < 0) {
        console.log("Failed to set positions of the vertices");
        return false;
    }
    
    // get the matrix uniform
    var uModelViewProjectionMatrix = gl.getUniformLocation(gl.program, "uModelViewProjectionMatrix");
    if (uModelViewProjectionMatrix < 0) {
        console.log("Failed to get uModelViewMatrix uniform");
        return false;
    }
    
    // calculate projection (orthographic) matrix
    var modelViewProjectionMatrix = new Matrix4();
    var near = 0.0;
    var far = 0.5;
    modelViewProjectionMatrix.setOrtho(-1, 1, -1, 1, near, far);
    
    // calculate the view matrix
    modelViewProjectionMatrix.lookAt(0.20,  // eye position x
                              0.25,  // eye position y
                              0.25,  // eye position z
                              0,     // lookat position x
                              0,     // lookat position y
                              0,     // lookat position z
                              0,     // up x
                              1,     // up y
                              0);    // up z
    // calcualate the model matrix
    var angle = 45.0; // degrees
    modelViewProjectionMatrix.rotate(angle, 0, 0, 1); // rotate about the z axis
    
    // result shader calculation is (view * model * vertex)
    gl.uniformMatrix4fv(uModelViewProjectionMatrix, false, modelViewProjectionMatrix.elements);
    
    // register keyboard input
    //var eyeX = 0.20;
    document.onkeydown = function(eventObj) {
        
        // right arrow key press
        if (eventObj.keyCode == 39) {
            near += 0.1;
        }
        
        // left arrow key press
        else if (eventObj.keyCode == 37) {
            near -= 0.01;
        }
        
        // up arrow key press
        else if (eventObj.keyCode == 38) {
            far += 0.01;
        }
        
        // down arrow key press
        else if (eventObj.keyCode == 40) {
            far -= 0.01;
        }
        
        // prevent unnecessary computation
        else {
            return;
        }
        
        // show status in main document
        nearFar.innerHTML = "near: " + near + ", far: " + far;
        
        // update orthographic projection matrix
        modelViewProjectionMatrix.setOrtho(-1, 1, -1, 1, near, far);
        
        // recalculate view matrix
        modelViewProjectionMatrix.lookAt(0.20,  // eye position x
                                  0.25,  // eye position y
                                  0.25,  // eye position z
                                  0,     // lookat position x
                                  0,     // lookat position y
                                  0,     // lookat position z
                                  0,     // up x
                                  1,     // up y
                                  0);    // up z
        // recalcualate the model matrix
        modelViewProjectionMatrix.rotate(angle, 0, 0, 1); // rotate about the z axis
        
        // result shader calculation is (view * model * vertex)
        gl.uniformMatrix4fv(uModelViewProjectionMatrix, false, modelViewProjectionMatrix.elements);
    }
    
    // continuously updates the screen
    function mainLoop() {
        // specify the color to clear the canvas with
        gl.clearColor(1.0, 0.0, 0.0, 1.0);
        
        // clear the canvas
        gl.clear(gl.COLOR_BUFFER_BIT);
        
        // draw a point
        gl.drawArrays(gl.TRIANGLES, // mode; gl.POINTS, gl.LINES, gl.LINE_STRIP, gl.LINE_LOOP, gl.TRIANGLES, gl.TRIANGLE_STRIP, or gl.TRIANGLE_FAN
                      0,         // vertex offset to draw from
                      n);        // number of MODE to draw
                      
        requestAnimationFrame(mainLoop);
    }
    // initial loop call
    mainLoop();
}

// creates and stores 3 points in a vertex buffer, returning the number
// of vertices in the buffer
function initVertexBuffers(gl) {
    
    // the vertices colors to store in the buffer
    var vertices = new Float32Array([ 0.0,  0.5, -0.5,  1.0, 1.0, 0.0, // first point
                                     -0.5, -0.5, -0.5,  1.0, 1.0, 1.0, // second point
                                      0.5, -0.5, -0.5,  1.0, 1.0, 0.0, // third point
                                      
                                      0.0,  0.5, -0.25,  1.0, 0.0, 1.0, // first point
                                     -0.5, -0.5, -0.25,  1.0, 0.0, 1.0, // second point
                                      0.5, -0.5, -0.25,  1.0, 0.0, 1.0, // third point
                                      
                                      0.0,  0.5, 0.0,  0.0, 1.0, 1.0, // first point
                                     -0.5, -0.5, 0.0,  0.0, 1.0, 1.0, // second point
                                      0.5, -0.5, 0.0,  0.0, 1.0, 1.0]); // third point
    var n = 9; // number of vertices
    
    // create the buffer object
    var vertexBuffer = gl.createBuffer();
    if (!vertexBuffer) {
        console.log("Failed to create vertex buffer obj");
        return -1;
    }
    
    // bind the buffer object that we are currently referring to
    gl.bindBuffer(gl.ARRAY_BUFFER, vertexBuffer);
    // send data to the buffer
    gl.bufferData(gl.ARRAY_BUFFER, vertices, gl.STATIC_DRAW);
    
    // Get vertex attribute
    var aPosition = gl.getAttribLocation(gl.program, "aPosition");
    if (aPosition < 0) {
        console.log("Failed to get aPosition attribute");
        return -1;
    }
    
    const floatSize = vertices.BYTES_PER_ELEMENT; // each float is 4 bytes
    
    // tell opengl about the data we just sent it
    gl.vertexAttribPointer(aPosition,   // the attribute location
                            3,          // number of points per vertex (x,y,z)
                            gl.FLOAT,   // vertex data type
                            false,      // does the data need normalization?
                            6 * floatSize, // how many bytes to move to the next vertex (0 for default)
                            0);         // first vertex entry offset
    // give opengl the OK to use these properties for this attribute
    gl.enableVertexAttribArray(aPosition);
    
    // Get vertex attribute
    var aColor = gl.getAttribLocation(gl.program, "aColor");
    if (aColor < 0) {
        console.log("Failed to get aColor attribute");
        return -1;
    }
    
    // tell opengl about the data we just sent it
    gl.vertexAttribPointer(aColor,   // the attribute location
                            3,          // number of points per element (r,g,b)
                            gl.FLOAT,   // vertex data type
                            false,      // does the data need normalization?
                            6 * floatSize,   // how many bytes to move to the next vertex
                            3 * floatSize);  // first vertex entry offset (skip first 3 x,y,z floats)
    // give opengl the OK to use these properties for this attribute
    gl.enableVertexAttribArray(aColor);
    
    // give back the number of vertices in the buffer
    return n;
}
main();
</script>
<script>
function initMain() {
    var codeArea = document.getElementById("codeArea");
    var webGLScript = document.getElementById("WebGLScript");

    codeArea.value = webGLScript.text;

    var runButton = document.getElementById("runButton");
    runButton.onclick = function() {
        var runFunc = new Function(codeArea.value);
        runFunc();
    }
    //var initialRunFunc = new Function(codeArea.value);
    //initialRunFunc();
}
</script>
</body>
</html>
