<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Chapter 8</title>
</head>
<body>
<h2 id="usrp-radios">USRP Radios</h2>
<p><img src="usrp_diagram.png" alt="USRP Diagram"></p>
<p>By default, the FPGA on the
Tx side of the USRP® radio is configured to perform Digital Upconversion (DUC) to upconvert baseband
IQ samples (transferred to the device from a host computer) to an IF. The samples are converted to
continuous signals using a DAC, and then mixed with a quadrature RF carrier, performing AM-DSB-SC
modulation</p>
<h2 id="am-dsb-sc-tx-with-usrp">AM-DSB-SC TX with USRP</h2>
<p><img src="usrp_sc.png" alt="USRP AM-DSB-SC"></p>
<p>In simulink:
<img src="usrp_sc_simulink.png" alt="USRP Simulink AM-DSB-SC"></p>
<h2 id="am-dsb-sc-demodulation">AM-DSB-SC demodulation</h2>
<p>Can NOT be done with an envolope detector, as AM-DSB-SC does not contain a signal envolope!</p>
<h2 id="am-dsb-tc-with-usrp">AM-DSB-TC with USRP</h2>
<p><img src="usrp_tc.png" alt="USRP AM-DSB-TC"></p>
<p>Same as DSB-SC except a DC offset added before mixed with carrier</p>
<p>In simulink:
<img src="usrp_tc_simulink.png" alt="USRP Simulink AM-DSB-TC"></p>
<h2 id="am-ssb-am-susb-or-am-slsb-with-usrp">AM-SSB (AM-SUSB or AM-SLSB) with USRP</h2>
<p><img src="usrp_ssb.png" alt="USRP SSB"></p>
<p>In simulink:
<img src="usrp_ssb_simulink.png" alt="USRP Simulink AM-DSB-TC"></p>
<h2 id="rtl-sdr-am-dsb-tc-rx-with-envolope-detector">RTL-SDR AM-DSB-TC RX with envolope detector</h2>
<p><img src="rtl_sdr_tc1.png" alt="RTL-SDR basic TC RX">
<img src="rtl_sdr_tc2.png" alt="RTL-SDR TC RX with audio output and spectrum analyzer">
note the second diagram is the same as the first after the bandpass filter, with
the output sent to audio and spectrum analyzers</p>
<p>AM-DSB-TC contains carrier components and has an information envolope, which is
why using the envolope filter works (|u|). Again AM-DSB-SC cannot be demodulated
used envolope filter. This is because the envolope filter cannot handle when
the signal polarity flips.</p>
<h2 id="am-ssb-susb-or-am-slsb-rx-with-rtl-sdr">AM-SSB (SUSB or AM-SLSB) RX with RTL-SDR</h2>
<p>When the demodulating carrier frequency or phase doesn&#39;t match the original modulated
carrier, a frequency shift occurs with the result demodulated signal, and for audio
this means the pitch will be shifted up or down, with a &quot;Donald Duck or Chipmunk effect&quot;
<img src="rtl_sdr_ssb.png" alt="RTL-SDR SSB RX"></p>
<h2 id="am-dsb-tc-rx-on-rtl-sdr-with-pll-or-costas-demod">AM-DSB-TC RX on RTL-SDR with PLL or Costas demod</h2>
<p>can use PLL or Costas instead of envolope filter
<img src="rtl_sdr_tc_pll.png" alt="RTL-SDR TC PLL RX">
<img src="rtl_sdr_tc_costas.png" alt="RTL-SDR TC PLL RX"></p>
<h2 id="frequency-division-multiplexing">Frequency Division Multiplexing</h2>
<p>Split available bandwidth into channels so multiple information signals can be transmitted
at once.
Works by modulating the information signal onto its designated channel frequency band
then adding them all together.
This was used on landline phone networks to allow &quot;tens of voice signals&quot; on a single wire.
Each customer was assigned a 3.4kHz band; the human voice usually has a bandwidth between
100Hz and 4kHz
<img src="fdm_diagram.png" alt="FDM Diagram"></p>
<p>TX (modulation) On USRP:
<img src="usrp_fdm_diagram.png" alt="USRP FDM Diagram">
TX USRP in simulink:
<img src="usrp_fdm_simulink.png" alt="USRP FDM Simulink"></p>
<p>RX (Demodulation) on RTL-SDR:
<img src="rtl_sdr_fdm_demod_theory.png" alt="FDM Demodulation Theory">
<img src="rtl_sdr_fdm_demod.png" alt="RTL-SDR FDM Demod"></p>
</body>
</html>

