<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <title>BJ's Website</title>
    <link rel="stylesheet" type="text/css" href="../../site.css"/>
</head>
<body>
<h1>Every Death is Replayed</h1>

<p>
My submission for the SNHU CS Hangout Winter Jam 2021.
This is a horror-ish game about medical failures, using real life events.
Downloadable from <a href="https://beedge19.itch.io/every-death-is-replayed">the itch.io page</a>
or <a href="https://bitbucket.org/williamblair/ozzadarjamjan2022/downloads/">Bitbucket</a>.
</p>

<p>
Articles used:
<ul>
    <li><a href="https://www.caringlawyers.com/blog/13-disturbing-cases-of-medical-malpractice/">https://www.caringlawyers.com/blog/13-disturbing-cases-of-medical-malpractice/</a></li>
    <li><a href="https://leightonlaw.com/12-famous-medical-malpractice-cases/">https://leightonlaw.com/12-famous-medical-malpractice-cases/</a></li>
    <li><a href="https://www.theguardian.com/society/2019/aug/23/americans-plastic-surgery-dominican-republic">https://www.theguardian.com/society/2019/aug/23/americans-plastic-surgery-dominican-republic</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Jesica_Santillan">https://en.wikipedia.org/wiki/Jesica_Santillan</a></li>
</ul>
Inspiration:
<ul>
    <li><a href="https://www.omniverse-plastikos.com/useful/what-happens-if-a-patient-dies-during-surgery.html">https://www.omniverse-plastikos.com/useful/what-happens-if-a-patient-dies-during-surgery.html</a></li>
</ul>
</p>

<p>
Programmed in C++ with the following libraries used:
<ul>
<li>SDL2</li>
<li>OpenGL 3.3</li>
<li>Assimp</li>
<li>stb_image</li>
<li>glm</li>
</ul>
</p>

<p>
Compiled With MinGW 32-bit for windows, gcc 8.2.0.
Also briefly tested on Ubuntu 20.04.
Source code available at
<a href="https://bitbucket.org/williamblair/ozzadarjamjan2022/src/master/">https://bitbucket.org/williamblair/ozzadarjamjan2022/src/master/</a>
</p>

<p>
Screenshots:
</p>

<img width="400px" src="images/titlescreen.png"/><br/>
<img width="400px" src="images/gameover.png"/><br/>

<div style="margin-top:20px;">
<a href="../../index.html">&lt;-- Back to Home</a>
</div>

</body>
</html>

