<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BJ's Website</title>
    
  <link rel="stylesheet" type="text/css" href="../../site.css"/>
</head>
<body>
<h1>Hands-On C++ Game Animation Programming</h1>

<p>Screenshots of programs following "Hands-On C++ Game Animation Programming"
by Gabor Szauer</p>
<p>
<a href="https://www.amazon.com/Hands-Game-Animation-Programming-implementation/dp/1800208081">
<img src="bookcover.jpg" width="300"/>
</a>
</p>

<p>The Code is here: 
<a href="https://github.com/williamblair/OpenGLAnimationBook">
https://github.com/williamblair/OpenGLAnimationBook
</a>
</p>

<figure>
<figcaption>09 - Animation Clips</figcaption>
<img src="09_animationClips.gif"/>
</figure>

<figure>
<figcaption>10 - Mesh Skinning</figcaption>
<img src="10_meshSkinning.gif"/>
</figure>

<figure>
<figcaption>12 - Animation Blending</figcaption>
<img src="12_animBlending.gif"/>
</figure>

<p>
<a href="../../index.html">&lt;-- Back to Home</a>
</p>

</body>
</html>

