<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BJ's Website</title>
    
  <link rel="stylesheet" type="text/css" href="../../site.css"/>
</head>
<body>
<h1>Software Defined Radio using MATLAB Simulink and the RTL-SDR</h1>

<p>Notes for "Software Defined Radio using MATLAB Simulink and the RTL-SDR"
by Robert W Stewart, Kenneth W Barlee, Dale S W Atkinson, and Louise Crockett</p>

<ul>
<li><a href="chapter3/chapter3.html">Chapter 3</a></li>
<li><a href="chapter4/chapter4.html">Chapter 4</a></li>
<li><a href="chapter5/chapter5.html">Chapter 5</a></li>
<li><a href="chapter6/chapter6.html">Chapter 6</a></li>
<li><a href="chapter7/chapter7.html">Chapter 7</a></li>
<li><a href="chapter8/chapter8.html">Chapter 8</a></li>
<li><a href="chapter9/chapter9.html">Chapter 9</a></li>
</ul>

<a href="https://www.desktopsdr.com/">
<img src="bookcover.jpeg"/>
</a>

<p>
<a href="../../index.html">&lt;-- Back to Home</a>
</p>

</body>
</html>

