<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>BJ's Website</title>
    
    <style>
        table, tr, td {
            border: 3px ridge;
            border-collapse: collapse;
        }
        tr, td {
            margin: 5px;
            padding: 5px;
        }
        html {
            background-image: url("./images/Waves.bmp");
            color: black;
        }
        body {
            background-color: #ADCCFF
        }
        h1, h2, h3 {
            margin-left: 10px;
            margin-right: 10px;
        }
    </style>
    
</head>
<body>
<h1>Introduction to 3D Game Programming with DirectX 12</h1>
<h3>Frank D. Luna</h3>

<div style="display:flex; justify-content:center; margin: 10px;">
    <div style="margin-right:40px;">
        <p>My notes following "Introduction to 3D Game Programming with DirectX 12"</p>
        <ul>
        <li><a href="chapter4.html">Chapter 4 - Direct3D initialization</a></li>
        </ul>
    </div>
    <div>
        <a href="https://www.amazon.com/Introduction-3D-Game-Programming-DirectX/dp/1942270062">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51p2cBhUDcL._SX384_BO1,204,203,200_.jpg"/>
        </a>
    </div>
</div>

<div style="padding-top:40px; margin-bottom:10px; padding:10px;">
<a href="../../index.html">&lt;-- Back to Home</a>
</div>

</body>
</html>
