<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Joint JS UML Test</title>

<!-- dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.1.0/joint.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/3.0.4/joint.shapes.uml.js"></script>

<script src="uml_js.js"></script>

</head>
<body>

<div id="singletonDiv">

<h1>Command</h1>

<p>Encapsulate a callback function (and necessary parameters) in an object, which allows for unlimited lifetime scope,
storing, queueing, playback, and undoing of commands/actions.</p>

<!-- uml content -->
<div id="umlHolder"></div>

<!-- code -->
<script>

var graph = new joint.dia.Graph;

var paper = new joint.dia.Paper({
    el: document.getElementById("umlHolder"),

    model: graph,
    width: 800,
    height: 350,
    gridSize: 1,
    drawGrid: true//,
    /*background: {
        color: "rgba(0, 255, 0, 0.3)"
    }*/
});

var client = UMLCreateClass('Client', []);
var invoker = UMLCreateClass('Invoker', []);
var command = UMLCreateAbstractClass('Command', ['Execute()']);
var receiver = UMLCreateClass('Receiver', ['Action()']);
var concreteCommand = UMLCreateClass('ConcreteCommand', ['Execute()']);
var executeDesc = UMLCreateDescription('Execute()', 'calls receiver->Action()')
var executeDescConn = UMLCreateDescriptionConnection(concreteCommand, executeDesc);
var commandInheritance = UMLCreateInheritance(concreteCommand, command);
var executeDelegation = UMLCreateDelegation(concreteCommand, receiver);
var clientDelegation = UMLCreateDelegation(client, receiver);
var invokerComposition = UMLCreateCompositionConnection(invoker, command);

client.position(10, 5);
invoker.position(75, 5);
command.position(175, 5);
receiver.position(75, 150);
concreteCommand.position(175, 150);
executeDesc.position(450, 200);

client.size(50,50);
invoker.size(50,50);
receiver.size(50,100);
command.size(100,100);
executeDesc.size(150, 50);


client.addTo(graph);
invoker.addTo(graph);
command.addTo(graph);
receiver.addTo(graph);
concreteCommand.addTo(graph);
executeDesc.addTo(graph);
executeDescConn.addTo(graph);
commandInheritance.addTo(graph);
executeDelegation.addTo(graph);
clientDelegation.addTo(graph);
invokerComposition.addTo(graph);
</script>

<p>Use when:
<ul>
<li>You have multiple implementations of the same action type based on different object implementations</li>
<li>You want to be able to send/pass, store, log, record, playback, undo command operations</li>
</ul>
</p>

<p>Example C++ Code</p>

<pre><code> // The abstract command class
class Command
{
public:
    virtual ~Command();
    virtual void Execute() = 0;
private:
    Command();
};

// Command to open a document issued when a button is pressed by the user
class OpenCommand : public Command
{
    OpenCommand(Application* a) {
        _application = a;
    }
    // the Document class is the Receiver, where open() is the receiver Action
    virtual void Execute() {
        const char* name = AskUser();
        Document* doc = new Document(name);
        _application-&gt;Add(document);
        document-&gt;open();
    }
protected:
    virtual const char* AskUser();
private:
    Application* _application;
};

// A generic client creation and call of a command might be like:
MyClass* reciever = new MyClass;
Command* aCommand = new SimpleCommand&lt;MyClass&gt;(receiver, &amp;MyClass::Action);
aCommand-&gt;Execute(); // calls MyClass::Action()
</code>
</pre>

</div>

</body>
</html>
