<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Joint JS UML Test</title>

<!-- dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.1.0/joint.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/3.0.4/joint.shapes.uml.js"></script>

<script src="uml_js.js"></script>

</head>
<body>

<div id="flyweightDiv">

<h1>Flyweight</h1>

<p>An object shared between many clients for efficiency/resource purposes rather than having
an individual instance for each client. Each client contains specific (extrinsic) information about the
object while properties that are the same (intrinsic) are stored within the flyweight.
</p>

<!-- uml content -->
<div id="umlHolder"></div>

<!-- code -->
<script>

var graph = new joint.dia.Graph;

var paper = new joint.dia.Paper({
    el: document.getElementById("umlHolder"),

    model: graph,
    width: 800,
    height: 350,
    gridSize: 10,
    drawGrid: true/*,
    background: {
        color: "rgba(0, 255, 0, 0.3)"
    }*/
});

// https://resources.jointjs.com/tutorial/multiple-links-between-elements
//var adjustGraphVertices = _.partial(adjustVertices, graph);
//graph.on('add remove change:source change:target', adjustGraphVertices);
//paper.on('cell:pointerup', adjustGraphVertices);

var flyweight = UMLCreateAbstractClass('Flyweight', ['Operation(ExtrinsicState)']);
flyweight.size(150, 50);
flyweight.position(300, 10);

var flyweightDescription = UMLCreateDescription('GetFlyweight(key)', 'if flyweight[key] exists\n return reference\n else \n  create flyweight instance\n  return reference');
flyweightDescription.position(150, 130);
flyweightDescription.size(150, 200);


var flyweightFactory = UMLCreateClass('FlyweightFactory', ['GetFlyweight(key)']);
flyweightFactory.position(10, 10);
flyweightFactory.size(150, 50);

var flyweightDescriptionConn = UMLCreateDescriptionConnection(flyweightFactory, flyweightDescription);

var flyweightComposition = UMLCreateCompositionConnection(flyweightFactory, flyweight);
flyweightComposition.appendLabel({
        attrs: {
            text: {
                text: 'flyweights'
            }
        },  
        position: {
            distance: 60
        }   
    });

var concreteFlyweight = UMLCreateClassWithMembers('ConcreteFlyweight', ['intrinsicState'], ['Operation(ExtrinsicState)']);
concreteFlyweight.position(350, 200);
concreteFlyweight.size(200, 75);

var concreteInheritance = UMLCreateInheritance(concreteFlyweight, flyweight);

var client = UMLCreateClass('Client', []);
client.position(10, 200);
client.size(75, 50);

var clientDelegation = UMLCreateDelegation(client, flyweightFactory);

flyweight.addTo(graph);
flyweightFactory.addTo(graph);
flyweightComposition.addTo(graph);
concreteFlyweight.addTo(graph);
concreteInheritance.addTo(graph);
flyweightDescription.addTo(graph);
flyweightDescriptionConn.addTo(graph);
client.addTo(graph);
clientDelegation.addTo(graph);

/*adjustVertices(graph, composite);*/

</script>

<p>Use when:
<ul>
<li>You need to reduce/prevent resource usage</li>
<li>Many slight variations or same instances of the same object are needed</li>
</ul>
</p>

<p>Example C++ Code</p>

<pre><code> // The flyweight class
class Glyph 
{
public:
    virtual ~Glyph();

    virtual void Draw(Window*, GlyphContext&amp;);
protected:
    Glyph();
};

// the concrete flyweight (a character instance, such as 'a', 'b', ...)
class Character : public Glyph
{
public:
    Character(char);

    virtual void Draw(Window*, GlyphContext&amp;);
private:
    char _charcode;
};</code>
</pre>

</div>

</body>
</html>
