<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BJ's Website</title>
  <link rel="stylesheet" type="text/css" href="../../site.css"/>
  
</head>
<body>

<div id="bodyDiv">

<div id="contentDiv">

<h1>Design Patterns: Elements of Reusable Object-Oriented Software</h1>

<p>Notes from Design Patterns by Gamma et al.</p>

<p>Instead of using <i>latex2html</i> like I did for my "Clean Code" notes,
this time I'm trying out <a href="https://www.jointjs.com/opensource">Joint JS</a> 
to draw <a href="https://www.tutorialspoint.com/uml/index.htm">UML diagrams</a>
accompanying each pattern.</p>

<p>The list is currently in progress - I think I'll skip around the book as I see fit.
The authors provide a small list of basic designs to read through first in the <i>Guide
to Readers</i> section, so I'll probably go through those first.

<h3>Patterns</h3>
<ul>
<li><a href="./abstract_factory.html">Abstract Factory</a></li>
<li><a href="./singleton.html">Singleton</a></li>
<li><a href="./adapter.html">Adapter</a></li>
<li><a href="./composite.html">Composite</a></li>
<li><a href="./command.html">Command</a></li>
<li><a href="./flyweight.html">Flyweight</a></li>
</ul>

<div id="bookCoverDiv" style="float:right;">
<img src="./bookcover.jpg"/>
</div>

</div> <!-- contentDiv -->

</div> <!-- bodyDiv -->

<p><a href="../../index.html">&lt;-- Back to Home</a></p>

</body>
</html>

