<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8"/>
  <title>BJ's Website</title>

  <style>
    #myCanvas {
      width: 640px;
      height: 480px;
      overflow: hidden;
    }
  </style>

  <link rel="stylesheet" type="text/css" href="../../site.css"/>

</head>
<body>

<h1>Software 3D Triangle Renderer</h1>
<p>Software rasterization using the HTML5 canvas element (all 3D math and triangle rasterization done via
javascript). Following Chapter 2 of 
<a href="https://www.amazon.com/Game-Engine-Design-Interactive-Technology/dp/0122290631">3D Game Engine Design</a>
 by David Eberly</p>

<canvas id="myCanvas" width="640" height="480">
Your browser doesn't support the canvas element :(
</canvas>
<div id="fpsDiv">0.0</div>

<!-- triangle vertices input -->
<form>
<label>Vertex 1</label>
<input type="number" min="-5.0" max="5.0" value="0.0" step="0.01" id="vertex0X"/>
<input type="number" min="-5.0" max="5.0" value="0.0" step="0.01" id="vertex0Y"/>
<input type="number" min="-5.0" max="5.0" value="0.0" step="0.01" id="vertex0Z"/>
<br/>
<label>Vertex 2</label>
<input type="number" min="-5.0" max="5.0" value="1.0" step="0.01" id="vertex1X"/>
<input type="number" min="-5.0" max="5.0" value="0.0" step="0.01" id="vertex1Y"/>
<input type="number" min="-5.0" max="5.0" value="0.0" step="0.01" id="vertex1Z"/>
<br/>
<label>Vertex 3</label>
<input type="number" min="-5.0" max="5.0" value="0.0" step="0.01" id="vertex2X"/>
<input type="number" min="-5.0" max="5.0" value="0.0" step="0.01" id="vertex2Y"/>
<input type="number" min="-5.0" max="5.0" value="1.0" step="0.01" id="vertex2Z"/>
<br/>
</form>

<!-- rotation input -->
<form>
<label>Rotation X</label>
<input type="range" min="0.0" max="360.0" value="0.0" class="slider" id="rotationX"/>
<label>Rotation Y</label>
<input type="range" min="0.0" max="360.0" value="0.0" class="slider" id="rotationY"/>
<label>Rotation Z</label>
<input type="range" min="0.0" max="360.0" value="0.0" class="slider" id="rotationZ"/>
</form>


<!-- transformation matrix information -->
<div id="modelMatdiv">
<h3>Model Matrix</h3>
<table id="modelMatTable" border="1px solid black;"></table>
</div>

<div id="viewMatDiv">
<h3>View Matrix</h3>
<table id="viewMatTable" border="1px solid black;"></table>
</div>

<div id="projMatDiv">
<h3>Projection  Matrix</h3>
<table id="projMatTable" border="1px solid black;"></table>
</div>

<div id="screenMatDiv">
<h3>Screen/Window  Matrix</h3>
<table id="screenMatTable" border="1px solid black;"></table>
</div>

<script>

// HTML5 canvas
var Canvas = {
  canvas: undefined,
  ctx: undefined,
  Init: function() {
    this.canvas = document.getElementById("myCanvas");
    this.ctx = this.canvas.getContext('2d');

    this.canvas.width = 640;
    this.canvas.height = 480;

    this.ctx.fillStyle = "rgb(0,0,0)";
    this.ctx.fillRect(0,0,this.canvas.width,this.canvas.height);
  },

  DrawPixel: function(x, y, color) {
    this.ctx.fillStyle = "rgb(" + color[0] + "," + color[1] + "," + color[2] + ")";
    this.ctx.fillRect(Math.round(x), Math.round(y), 1, 1); // width, height = 1
  },

  Clear: function() {
    this.ctx.fillStyle = "rgb(0,0,0)";
    this.ctx.fillRect(0,0,this.canvas.width,this.canvas.height);
  }
};

// Rasterization algorithms
var Render = {

    drawHorizontalLine: function(x1, x2, y, color) {
        var startX = x1;
        var endX = x2;
        if (endX < startX) {
            var tmp = endX;
            endX = startX;
            startX = tmp;
        }
        for (var x = startX; x <= endX; x++) {
            Canvas.DrawPixel(x, y, color);
        }
    },

    // http://www.sunshine2k.de/coding/java/TriangleRasterization/TriangleRasterization.html
    fillBottomFlatTriangle: function(v1, v2, v3, color) {
        var slope1 = (v2[0] - v1[0]) / (v2[1] - v1[1]);
        var slope2 = (v3[0] - v1[0]) / (v3[1] - v1[1]);

        var curX1 = v1[0];
        var curX2 = v1[0];

        for (var scanLine = Math.round(v1[1]); scanLine <= Math.round(v2[1]); scanLine++)
        {
            this.drawHorizontalLine(Math.round(curX1),
                                    Math.round(curX2),
                                    scanLine,
                                    color);
            curX1 += slope1;
            curX2 += slope2;
        }
    },

    // http://www.sunshine2k.de/coding/java/TriangleRasterization/TriangleRasterization.html
    fillTopFlatTriangle: function(v1, v2, v3, color) {
        var slope1 = (v3[0] - v1[0]) / (v3[1] - v1[1]);
        var slope2 = (v3[0] - v2[0]) / (v3[1] - v2[1]);

        var curX1 = v3[0];
        var curX2 = v3[0];

        for (var scanLine = Math.round(v3[1]); scanLine > Math.round(v1[1]); scanLine--)
        {
            this.drawHorizontalLine(Math.round(curX1),
                                    Math.round(curX2),
                                    scanLine,
                                    color);
            curX1 -= slope1;
            curX2 -= slope2;
        }
    },

    // http://www.sunshine2k.de/coding/java/TriangleRasterization/TriangleRasterization.html
    fillTriangle: function(v1, v2, v3, color) {

        var vertices = [
            v1,
            v2,
            v3
        ];
        
        // sorts via y ascending 
        vertices.sort(function(a,b){ return a[1] - b[1]; });

        // flat bottom triangle case
        if (Math.round(vertices[1][1]) == Math.round(vertices[2][1])) {
            //console.log('bottom flat triangle fill');
            this.fillBottomFlatTriangle(vertices[0], vertices[1], vertices[2], color);
        }
        // flat top triangle case
        else if (Math.round(vertices[0][1]) == Math.round(vertices[1][1])) {
            //Math3D.printVec4('top flat triangle fill', vertices[0]);
            //Math3D.printVec4('top flat triangle fill', vertices[1]);
            //Math3D.printVec4('top flat triangle fill', vertices[2]);
            this.fillTopFlatTriangle(vertices[0], vertices[1], vertices[2], color);
        }
        else {
            //console.log('manual fill');
            var x1 = vertices[0][0];
            var x3 = vertices[2][0];
            var y1 = vertices[0][1];
            var y2 = vertices[1][1];
            var y3 = vertices[2][1];
            var xComponent = x1 + ((y2 - y1) / (y3 - y1)) * (x3 - x1);
            var v4 = [xComponent,
                      y2,
                      0,
                      1];
            this.fillBottomFlatTriangle(vertices[0], vertices[1], v4, color);
            this.fillTopFlatTriangle(vertices[1], v4, vertices[2], color);
        }
    }
};

var Math3D = {
    
    vec4: function(x,y,z,w) {
        return [
            x,
            y,
            z,
            w
        ];
    },

    perspectiveDivideVec4: function(vec) {
        const w = vec[3];
        return [
            vec[0] / w,
            vec[1] / w,
            vec[2] / w,
            1.0
        ];
    },

    printVec4: function(message, vec) {
        console.log(message + ' (x,y,z,w): (' + vec[0] + ',' + vec[1] + ',' + vec[2] + ',' + vec[3] + ')');
    },


    printMat4x4: function(message, mat) {
        console.log(message);
        console.log('  ' + mat[0] + ', ' + mat[1] + ', ' + mat[2] + ', ' + mat[3]);
        console.log('  ' + mat[4] + ', ' + mat[5] + ', ' + mat[6] + ', ' + mat[7]);
        console.log('  ' + mat[8] + ', ' + mat[9] + ', ' + mat[10] + ', ' + mat[11]);
        console.log('  ' + mat[12] + ', ' + mat[13] + ', ' + mat[14] + ', ' + mat[15]);
    },

    matTimesVec: function(mat4x4, vec1x4) {
        return [
            mat4x4[0]*vec1x4[0]  + mat4x4[1]*vec1x4[1]  + mat4x4[2]*vec1x4[2]  + mat4x4[3]*vec1x4[3],
            mat4x4[4]*vec1x4[0]  + mat4x4[5]*vec1x4[1]  + mat4x4[6]*vec1x4[2]  + mat4x4[7]*vec1x4[3],
            mat4x4[8]*vec1x4[0]  + mat4x4[9]*vec1x4[1]  + mat4x4[10]*vec1x4[2] + mat4x4[11]*vec1x4[3],
            mat4x4[12]*vec1x4[0] + mat4x4[13]*vec1x4[1] + mat4x4[14]*vec1x4[2] + mat4x4[15]*vec1x4[3]
        ];
    },

    matTimesMat4x4: function(mat1, mat2) {
        var row0 = [
            mat1[0]*mat2[0] + mat1[1]*mat2[4] + mat1[2]*mat2[8]  + mat1[3]*mat2[12],
            mat1[0]*mat2[1] + mat1[1]*mat2[5] + mat1[2]*mat2[9]  + mat1[3]*mat2[13],
            mat1[0]*mat2[2] + mat1[1]*mat2[6] + mat1[2]*mat2[10] + mat1[3]*mat2[14],
            mat1[0]*mat2[3] + mat1[1]*mat2[7] + mat1[2]*mat2[11] + mat1[3]*mat2[15],
        ];
        var row1 = [
            mat1[4]*mat2[0] + mat1[5]*mat2[4] + mat1[6]*mat2[8]  + mat1[7]*mat2[12],
            mat1[4]*mat2[1] + mat1[5]*mat2[5] + mat1[6]*mat2[9]  + mat1[7]*mat2[13],
            mat1[4]*mat2[2] + mat1[5]*mat2[6] + mat1[6]*mat2[10] + mat1[7]*mat2[14],
            mat1[4]*mat2[3] + mat1[5]*mat2[7] + mat1[6]*mat2[11] + mat1[7]*mat2[15],
        ];
        var row2 = [
            mat1[8]*mat2[0] + mat1[9]*mat2[4] + mat1[10]*mat2[8]  + mat1[11]*mat2[12],
            mat1[8]*mat2[1] + mat1[9]*mat2[5] + mat1[10]*mat2[9]  + mat1[11]*mat2[13],
            mat1[8]*mat2[2] + mat1[9]*mat2[6] + mat1[10]*mat2[10] + mat1[11]*mat2[14],
            mat1[8]*mat2[3] + mat1[9]*mat2[7] + mat1[10]*mat2[11] + mat1[11]*mat2[15],
        ];
        var row3 = [
            mat1[12]*mat2[0] + mat1[13]*mat2[4] + mat1[14]*mat2[8]  + mat1[15]*mat2[12],
            mat1[12]*mat2[1] + mat1[13]*mat2[5] + mat1[14]*mat2[9]  + mat1[15]*mat2[13],
            mat1[12]*mat2[2] + mat1[13]*mat2[6] + mat1[14]*mat2[10] + mat1[15]*mat2[14],
            mat1[12]*mat2[3] + mat1[13]*mat2[7] + mat1[14]*mat2[11] + mat1[15]*mat2[15],
        ];
        return [
            row0[0], row0[1], row0[2], row0[3],
            row1[0], row1[1], row1[2], row1[3],
            row2[0], row2[1], row2[2], row2[3],
            row3[0], row3[1], row3[2], row3[3]
        ];
    },

    // [0,  1,  2,  3,
    //  4,  5,  6,  7,
    //  8,  9,  10, 11,
    //  12, 13, 14, 15]
    matInverse4x4: function(mat) {
        
        // a cross b
        var s = [ mat[4]*mat[9] - mat[8]*mat[5],
                  mat[8]*mat[1] - mat[0]*mat[9],
                  mat[0]*mat[5] - mat[4]*mat[1] ];
        // c cross d
        var t = [ mat[6]*mat[11] - mat[10]*mat[7],
                  mat[10]*mat[3] - mat[2]*mat[11],
                  mat[2]*mat[7] - mat[6]*mat[3] ];
        // y*a - x*b
        var u = [ mat[13]*mat[0] - mat[12]*mat[1],
                  mat[13]*mat[4] - mat[12]*mat[5],
                  mat[13]*mat[8] - mat[12]*mat[9] ];
        // w*c - z*d
        var v = [ mat[15]*mat[2] - mat[14]*mat[3],
                  mat[15]*mat[6] - mat[14]*mat[7],
                  mat[15]*mat[10] - mat[14]*mat[11] ];

        var divisor = 1.0 / ((s[0]*v[0] + s[1]*v[1] + s[2]*v[2]) + // s dot v
                            (t[0]*u[0] + t[1]*u[1] + t[2]*u[2])) // t dot u

        return [(mat[5]*v[2] - mat[9]*v[1] + mat[13]*t[0])*divisor, // b cross v + yt
                (mat[9]*v[0] - mat[1]*v[2] + mat[13]*t[1])*divisor,
                (mat[1]*v[1] - mat[5]*v[0] + mat[13]*t[2])*divisor,
                (-(mat[1]*t[0] + mat[5]*t[1] + mat[9]*t[2]))*divisor, // -b dot t
                (v[1]*mat[8] - v[2]*mat[4] - mat[12]*t[0])*divisor, // v cross a - xt
                (v[2]*mat[0] - v[0]*mat[8] - mat[12]*t[1])*divisor,
                (v[0]*mat[4] - v[1]*mat[0] - mat[12]*t[2])*divisor,
                (mat[0]*t[0] + mat[4]*t[1] + mat[8]*t[2])*divisor, // a dot t
                (mat[7]*u[2] - mat[11]*u[1] + mat[15]*s[0])*divisor, // d cross u + ws
                (mat[11]*u[0] - mat[3]*u[2] + mat[15]*s[1])*divisor,
                (mat[3]*u[1] - mat[7]*u[0] + mat[15]*s[2])*divisor,
                (-(mat[3]*s[0] + mat[7]*s[1] + mat[11]*s[2]))*divisor, // -d dot s
                (u[1]*mat[10] - u[2]*mat[6] - mat[14]*s[0])*divisor, // u cross c - zs
                (u[2]*mat[2] - u[0]*mat[10] - mat[14]*s[1])*divisor,
                (u[0]*mat[6] - u[1]*mat[2] - mat[14]*s[2])*divisor,
                (mat[2]*s[0] + mat[6]*s[1] + mat[10]*s[2])*divisor ]; // c dot s
    },

    // matrices are in row major order
    translation4x4: function(dX, dY, dZ) {
        return [
            1.0, 0.0, 0.0, dX,
            0.0, 1.0, 0.0, dY,
            0.0, 0.0, 1.0, dZ,
            0.0, 0.0, 0.0, 1.0
        ];
    },

    rotation4x4: function(angle, rotAxis) {
        const sigma = Math.sin(angle);
        const gamma = Math.cos(angle);
        const u0 = rotAxis[0];
        const u1 = rotAxis[1];
        const u2 = rotAxis[2];

        return [
            gamma + (1 - gamma)*(u0*u0), -u2*sigma + (1 - gamma)*u0*u1, u1*sigma + (1 - gamma)*u0*u2, 0,
            u2*sigma + (1 - gamma)*u0*u1, gamma + (1 - gamma)*(u1*u1), -u0*sigma + (1 - gamma)*u1*u2, 0,
            -u1*sigma + (1 - gamma)*u0*u2, u0*sigma + (1 - gamma)*u1*u2, gamma + (1 - gamma)*(u2*u2), 0,
            0, 0, 0, 1.0
        ];
    },

    // D - Direction basis vector
    // U - Up basis vector
    // R - Right/perpindicular vector to D and U
    // E - eye/camera location
    view4x4: function(R, U, D, E) {

        var Q_t = [
            R[0], R[1], R[2], R[3],
            U[0], U[1], U[2], U[3],
            D[0], D[1], D[2], D[3],
            0,    0,    0,    0      // zero because we technically want to treat as 3x3
        ];

        var Q_t_e = this.matTimesVec(Q_t, E);

        return [
            Q_t[0], Q_t[1], Q_t[2],  -Q_t_e[0],
            Q_t[4], Q_t[5], Q_t[6],  -Q_t_e[1],
            Q_t[8], Q_t[9], Q_t[10], -Q_t_e[2],
            0,      0,      0,       1
        ];
    },

    projection4x4: function(rmin, rmax, umin, umax, dmin, dmax) {
        return [
            2.0*dmin / (rmax - rmin), 0.0, (-rmax - rmin)/(rmax - rmin), 0.0,
            0.0, 2.0*dmin/(umax - umin), (-umax - umin)/(umax - umin), 0.0,
            0.0, 0.0, dmax / (dmax - dmin), (-dmax*dmin)/(dmax - dmin),
            0.0, 0.0, 1.0, 0.0
        ];
    },

    window4x4: function(width, height, portLeft, portRight, portBottom, portTop, portFar, portNear) {
        const wNeg1 = width - 1.0;
        const hNeg1 = height - 1.0;
        return [
            wNeg1*(portRight - portLeft)/2.0, 0.0, 0.0, wNeg1*(portRight + portLeft)/2.0,
            0.0, hNeg1*(portBottom - portTop)/2.0, 0.0, hNeg1*(2.0 - portTop - portBottom)/2.0,
            0.0, 0.0, portFar - portNear, portNear,
            0.0, 0.0, 0.0, 1.0
        ];
    }

};

Canvas.Init();
var fps = 0.0;
var time = 0.0; // current frame time
var oldtime = 0.0; // previous frame time
var maxFPSFrameCounts = 20;
var framecount = 0; // limit how often we update FPS

var deg2rad = function(deg) {
    return deg * (Math.PI / 180.0);
};

var updateMatTable = function(id, mat) {
    var table = document.getElementById(id);
    table.innerHTML = 
        "<tr><td>"+mat[0]+"</td><td>"+mat[1]+"</td><td>"+mat[2]+"</td><td>"+mat[3]+"</td></tr>" +
        "<tr><td>"+mat[4]+"</td><td>"+mat[5]+"</td><td>"+mat[6]+"</td><td>"+mat[7]+"</td></tr>" +
        "<tr><td>"+mat[8]+"</td><td>"+mat[9]+"</td><td>"+mat[10]+"</td><td>"+mat[11]+"</td></tr>" +
        "<tr><td>"+mat[12]+"</td><td>"+mat[13]+"</td><td>"+mat[14]+"</td><td>"+mat[15]+"</td></tr>";
};

var renderLoop = function()
{

    Canvas.Clear();

    // vertices from book example
    var triVertices = [
        [document.getElementById("vertex0X").value,document.getElementById("vertex0Y").value,document.getElementById("vertex0Z").value,1],
        [document.getElementById("vertex1X").value,document.getElementById("vertex1Y").value,document.getElementById("vertex1Z").value,1],
        [document.getElementById("vertex2X").value,document.getElementById("vertex2Y").value,document.getElementById("vertex2Z").value,1],
    ];
    
    // Rotation Matrices
    var modelMatRotX = Math3D.rotation4x4(deg2rad(document.getElementById("rotationX").value), [1.0, 0.0, 0.0]);
    var modelMatRotY = Math3D.rotation4x4(deg2rad(document.getElementById("rotationY").value), [0.0, 1.0, 0.0]);
    var modelMatRotZ = Math3D.rotation4x4(deg2rad(document.getElementById("rotationZ").value), [0.0, 0.0, 1.0]);
    var modelMat = Math3D.matTimesMat4x4(modelMatRotX, modelMatRotY);
    modelMat = Math3D.matTimesMat4x4(modelMat, modelMatRotZ);

    //var vertex1 = Math3D.vec4(1,0,0,1);
    //var translationMat = Math3D.translation4x4(1.0, 0.0, 0.0);
    var worldVertex0 = Math3D.matTimesVec(modelMat, triVertices[0]);
    var worldVertex1 = Math3D.matTimesVec(modelMat, triVertices[1]);
    var worldVertex2 = Math3D.matTimesVec(modelMat, triVertices[2]);
    //Math3D.printVec4('World Space vertices 0', worldVertex0);
    //Math3D.printVec4('World Space vertices 1', worldVertex1);
    //Math3D.printVec4('World Space vertices 2', worldVertex2);
    
    var sqrt2 = Math.sqrt(2.0);
    var sqrt3 = Math.sqrt(3.0);
    var sqrt6 = Math.sqrt(6.0);
    var viewMat = Math3D.view4x4([-1.0/sqrt2, 1.0/sqrt2, 0.0/sqrt2, 0.0],  // R (direction so w = 0.0)
                                 [-1.0/sqrt6, -1.0/sqrt6, 2.0/sqrt6, 0.0],  // U
                                 [-1.0/sqrt3, -1.0/sqrt3, -1.0/sqrt3, 0.0],  // D
                                 [5.0/2.0, 3.0, 7.0/2.0, 1.0]);  // E (position so w = 1.0)
    //Math3D.printMat4x4('ViewMat', viewMat);
    
    var viewVertex0 = Math3D.matTimesVec(viewMat, worldVertex0);
    var viewVertex1 = Math3D.matTimesVec(viewMat, worldVertex1);
    var viewVertex2 = Math3D.matTimesVec(viewMat, worldVertex2);
    //Math3D.printVec4('View Space vertices 0', viewVertex0);
    //Math3D.printVec4('View Space vertices 1', viewVertex1);
    //Math3D.printVec4('View Space vertices 2', viewVertex2);
    
    
    var fov = (Math.PI/6.0);
    var fovTimes2 = 2.0 * fov; 
    var aspect = 4.0/3.0; // equals 640 / 480
    var dmin = 1.0;
    var dmax = 10.0;
    var umax = dmin * Math.tan(fov);
    var rmax = aspect * umax;
    var umin = -umax;
    var rmin = -rmax;
    var projMat = Math3D.projection4x4(rmin,
                                       rmax,
                                       umin,
                                       umax,
                                       dmin, 
                                       dmax);
    //Math3D.printMat4x4('ProjMat', projMat);
    
    var projVertex0 = Math3D.matTimesVec(projMat, viewVertex0);
    var projVertex1 = Math3D.matTimesVec(projMat, viewVertex1);
    var projVertex2 = Math3D.matTimesVec(projMat, viewVertex2);
    //Math3D.printVec4('proj Space vertices 0', projVertex0);
    //Math3D.printVec4('proj Space vertices 1', projVertex1);
    //Math3D.printVec4('proj Space vertices 2', projVertex2);
    
    var perspVertex0 = Math3D.perspectiveDivideVec4(projVertex0);
    var perspVertex1 = Math3D.perspectiveDivideVec4(projVertex1);
    var perspVertex2 = Math3D.perspectiveDivideVec4(projVertex2);
    //Math3D.printVec4('persp Space vertices 0', perspVertex0);
    //Math3D.printVec4('persp Space vertices 1', perspVertex1);
    //Math3D.printVec4('persp Space vertices 2', perspVertex2);
    
    var screenWidth = 640.0;
    var screenHeight = 480.0;
    var portLeft = 0.0;
    var portBottom = 0.0;
    var portRight = 1.0;
    var portTop = 1.0;
    var portNear = 0.0;
    var portFar = 1.0;
    var screenMat = Math3D.window4x4(screenWidth,
                                     screenHeight,
                                     portLeft,
                                     portRight,
                                     portBottom,
                                     portTop,
                                     portFar,
                                     portNear);
    //Math3D.printMat4x4('screen mat', screenMat);
    
    var screenVertex0 = Math3D.matTimesVec(screenMat, perspVertex0);
    var screenVertex1 = Math3D.matTimesVec(screenMat, perspVertex1);
    var screenVertex2 = Math3D.matTimesVec(screenMat, perspVertex2);
    //Math3D.printVec4('screen Space vertices 0', screenVertex0);
    //Math3D.printVec4('screen Space vertices 1', screenVertex1);
    //Math3D.printVec4('screen Space vertices 2', screenVertex2);
    
    Render.fillTriangle(screenVertex0,
                        screenVertex1,
                        screenVertex2,
                        [255, 0, 0]); // color

    // update FPS calc
    var curTime = new Date();
    oldtime = time;
    time = curTime.getTime();    

    var frameTime = (time - oldtime) / 1000.0; // milliseconds to seconds

    framecount++;
    if (framecount >= maxFPSFrameCounts) {
        // 1.0 / frameTime = fps
        document.getElementById('fpsDiv').innerHTML = "FPS: " + (1.0 / frameTime);
        framecount = 0;
    }

    // update matrix info
    updateMatTable("modelMatTable", modelMat);
    updateMatTable("viewMatTable", viewMat);
    updateMatTable("projMatTable", projMat);
    updateMatTable("screenMatTable", screenMat);

    window.requestAnimationFrame(renderLoop);

};

time = new Date().getTime();
window.requestAnimationFrame(renderLoop);

var testMat1 = [ 2.0, 0.0, 3.0, 6.0,
                 0.2, 0.5, 1.5, 7.5,
                 -8.6, 1.3, 4.5, 3.2,
                -1.0, -2.0, -3.0, -4.0];
var testMat2 = Math3D.matInverse4x4(testMat1);

var testMat3 = Math3D.matTimesMat4x4(testMat1, testMat2);

Math3D.printMat4x4('testmat1', testMat1);
Math3D.printMat4x4('testmat2', testMat2);
Math3D.printMat4x4('testmat3', testMat3)

</script>

<a href="../../index.html">&lt;-- Back to home</a>
</body>
</html>

