<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BJ's Website</title>
    
  <link rel="stylesheet" type="text/css" href="../../site.css"/>
</head>
<body>
<h1>3D Game Engine Design</h1>

<p>Notes for "3D Game Engine Design"
by David Eberly</p>

<ul>
<li><a href="chapter2/chapter2.html">Chapter 2.html</a></li>
</ul>

<a href="https://www.amazon.com/Game-Engine-Design-Interactive-Technology/dp/0122290631">
<img src="cover.jpeg"/>
</a>

<p>
<a href="../../index.html">&lt;-- Back to Home</a>
</p>

</body>
</html>

