<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BJ's Website</title>
    
  <link rel="stylesheet" type="text/css" href="../../site.css"/>
</head>
<body>
<h1>Learn OpenGL - Graphics Programming</h1>

<p>Screenshots of programs following "Learn OpenGL"
by Joey de Vries</p>
<p>
<a href="https://learnopengl.com/">
<img src="bookcover.jpg" width="300"/>
</a>
</p>

<p>The Code is here: 
<a href="https://github.com/williamblair/learnopengl">
https://github.com/williamblair/learnopengl
</a>
</p>

<figure>
<figcaption>13 - Model Loading</figcaption>
<img src="images/13_model_loading.png"/>
</figure>

<figure>
<figcaption>15 - Stencil Buffer</figcaption>
<img src="images/15_stencil_buffer.png"/>
</figure>

<figure>
<figcaption>16 - Blending</figcaption>
<img src="images/16_blending_windows.png"/>
<img src="images/16_grass_texture.png"/>
</figure>

<figure>
<figcaption>17 - Face Culling</figcaption>
<img src="images/17_culling.png"/>
</figure>

<figure>
<figcaption>18 - Post Processing/Frame Buffers</figcaption>
<img src="images/18_01_edge_detection.png"/>
<img src="images/18_02_inverted_colors.png"/>
<img src="images/18_03_grayscale.png"/>
<img src="images/18_04_sharpening.png"/>
<img src="images/18_05_blurring.png"/>
</figure>

<figure>
<figcaption>19 - Skybox/Cube Map</figcaption>
<img src="images/19_skybox.png"/>
</figure>

<figure>
<figcaption>20 - Reflection and Refraction</figcaption>
<img src="images/20_reflection.png"/>
<img src="images/20_refraction.png"/>
</figure>

<p>
<a href="../../index.html">&lt;-- Back to Home</a>
</p>

</body>
</html>

