<!-- code samples from the book can be found here:
     https://sites.google.com/site/webglbook/
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>32 Cube</title>
</head>
<body onload="initMain()">
<div style="display:flex;">
    <canvas id="mycanvas" width="600" height="600">
        Your Browser doesn't support canvas :(
    </canvas>
    <div>
        <textarea cols="80" rows="40" id="codeArea" style="padding:5px;"></textarea>
        <br/>
        <button type="button" id="runButton">Run</button>
    </div>
</div>

<script src="../lib/webgl-utils.js"></script>
<script src="../lib/webgl-debug.js"></script>
<script src="../lib/cuon-utils.js"></script>
<script src="../lib/cuon-matrix.js"></script>

<script id="WebGLScript">
    
// vertex shader program
var VertexShaderStr =`
    attribute vec4 aPosition; // vertex data passed into the shader
    attribute vec4 aColor;
    varying vec4 vColor;
    uniform mat4 uModelMatrix;
    uniform mat4 uViewMatrix;
    uniform mat4 uProjectionMatrix;
    void main() {
        gl_Position = uProjectionMatrix * uViewMatrix * uModelMatrix * aPosition; // coordinates
        vColor = aColor; // color
    }
`;

// fragment shader program
var FragmentShaderStr = `
    precision mediump float;
    varying vec4 vColor; // passed from vertex shader
    void main() {
        gl_FragColor = vColor;
    }
`;

function main() {
    
    // retrieve the canvas element
    var canvas = document.getElementById("mycanvas");
    
    if (!canvas) {
        console.log("Failed to get canvas element");
        return false;
    }
    
    var gl = getWebGLContext(canvas);
    if (!gl) {
        console.log("Failed to get OpenGL context");
        return false;
    }
    
    // Load and compile shader programs
    if (!initShaders(gl, VertexShaderStr, FragmentShaderStr)) {
        console.log("Failed to init shaders");
        return false;
    }
    
    // create vertex buffers
    var n = initVertexBuffers(gl); // n = number of vertices
    if (n < 0) {
        console.log("Failed to set positions of the vertices");
        return false;
    }
    
    // enable checking depth before drawing
    // try commenting out to see what happens
    gl.enable(gl.DEPTH_TEST);
    
    // enable offset to mitigate z fighting
    //gl.enable(gl.POLYGON_OFFSET_FILL);
    //gl.polygonOffset(1.0, 1.0);
    
    // get matrix uniforms
    var uModelMatrix = gl.getUniformLocation(gl.program, "uModelMatrix");
    var uViewMatrix = gl.getUniformLocation(gl.program, "uViewMatrix");
    var uProjectionMatrix = gl.getUniformLocation(gl.program, "uProjectionMatrix");
    if (uModelMatrix < 0 ||
        uViewMatrix < 0 ||
        uProjectionMatrix < 0) {
        console.log("Failed to get matrix uniforms");
        return false;
    }
    
    // calculate projection (perspective) matrix
    var projectionMatrix = new Matrix4();
    var fov = 30; // field of view angle
    var aspect = canvas.width / canvas.height; // aspect ratio
    var near = 1; // near clip distance
    var far = 100; // far clip distance
    projectionMatrix.setPerspective(fov, aspect, near, far);
    
    // calculate the view matrix
    var viewMatrix = new Matrix4();
    viewMatrix.setLookAt(3,  // eye position x
                         3,  // eye position y
                         7,  // eye position z
                         0,     // lookat position x
                         0,     // lookat position y
                         0,     // lookat position z
                         0,     // up x
                         1,     // up y
                         0);    // up z
    
    // calcualate the model matrix
    var modelMatrix = new Matrix4();
    //modelMatrix.setTranslate(0.75, 0, 0);
    
    // send matrices to the shader
    gl.uniformMatrix4fv(uModelMatrix, false, modelMatrix.elements);
    gl.uniformMatrix4fv(uViewMatrix, false, viewMatrix.elements);
    gl.uniformMatrix4fv(uProjectionMatrix, false, projectionMatrix.elements);
    // alternatively, could send a single matrix via
    //   mvpMatrix.set(projMatrix).multiply(viewMatrix).multiply(projMatrix)
    //   gl.uniformMatrix4fv(uMVPMatrix, mvpMatrix.elements);
    
    // continuously updates the screen
    function mainLoop() {
        // specify the color to clear the canvas with
        gl.clearColor(0.3, 0.0, 0.3, 1.0);
        
        // clear the canvas
        gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);
    
        // draw a point
        gl.drawElements(gl.TRIANGLES, // mode; gl.POINTS, gl.LINES, gl.LINE_STRIP, gl.LINE_LOOP, gl.TRIANGLES, gl.TRIANGLE_STRIP, or gl.TRIANGLE_FAN
                    n,
                    gl.UNSIGNED_BYTE,
                    0);        // number of MODE to draw
                      
        requestAnimationFrame(mainLoop);
    }
    // initial loop call
    mainLoop();
}

// creates and stores 3 points in a vertex buffer, returning the number
// of vertices in the buffer
function initVertexBuffers(gl) {
    
    // the vertices colors to store in the buffer
    var vertices = new Float32Array([
         1.0,  1.0,  1.0,     1.0,  1.0,  1.0,  // v0 White
        -1.0,  1.0,  1.0,     1.0,  0.0,  1.0,  // v1 Magenta
        -1.0, -1.0,  1.0,     1.0,  0.0,  0.0,  // v2 Red
         1.0, -1.0,  1.0,     1.0,  1.0,  0.0,  // v3 Yellow
         1.0, -1.0, -1.0,     0.0,  1.0,  0.0,  // v4 Green
         1.0,  1.0, -1.0,     0.0,  1.0,  1.0,  // v5 Cyan
        -1.0,  1.0, -1.0,     0.0,  0.0,  1.0,  // v6 Blue
        -1.0, -1.0, -1.0,     0.0,  0.0,  0.0   // v7 Black
    ]);
    
    // indices of the above vertices
    // important - use Uint16Array if there are more than 256 vertices
    var indices = new Uint8Array([
        // front
        0, 1, 2,
        0, 2, 3,
        
        // right
        0, 3, 4,
        0, 4, 5,
        
        // up
        0, 5, 6,
        0, 6, 1,
        
        // left
        1, 6, 7,
        1, 7, 2,
        
        // down
        7, 4, 3,
        7, 3, 2,
        
        // back
        4, 7, 6,
        4, 6, 5
    ]);
    
    var n = 12*3; // 12 triangles times 3 points per vertex
    
    // create the buffer object
    var vertexBuffer = gl.createBuffer();
    var indexBuffer = gl.createBuffer();
    if (!vertexBuffer || !indexBuffer) {
        console.log("Failed to create vertex or index buffer obj");
        return -1;
    }
    
    // bind the buffer object that we are currently referring to
    gl.bindBuffer(gl.ARRAY_BUFFER, vertexBuffer);
    // send data to the buffer
    gl.bufferData(gl.ARRAY_BUFFER, vertices, gl.STATIC_DRAW);
    
    // Get vertex attribute
    var aPosition = gl.getAttribLocation(gl.program, "aPosition");
    if (aPosition < 0) {
        console.log("Failed to get aPosition attribute");
        return -1;
    }
    
    const floatSize = vertices.BYTES_PER_ELEMENT; // each float is 4 bytes
    
    // tell opengl about the data we just sent it
    gl.vertexAttribPointer(aPosition,   // the attribute location
                            3,          // number of points per vertex (x,y,z)
                            gl.FLOAT,   // vertex data type
                            false,      // does the data need normalization?
                            6 * floatSize, // how many bytes to move to the next vertex (0 for default)
                            0);         // first vertex entry offset
    // give opengl the OK to use these properties for this attribute
    gl.enableVertexAttribArray(aPosition);
    
    // Get vertex attribute
    var aColor = gl.getAttribLocation(gl.program, "aColor");
    if (aColor < 0) {
        console.log("Failed to get aColor attribute");
        return -1;
    }
    
    // tell opengl about the data we just sent it
    gl.vertexAttribPointer(aColor,   // the attribute location
                            3,          // number of points per element (r,g,b)
                            gl.FLOAT,   // vertex data type
                            false,      // does the data need normalization?
                            6 * floatSize,   // how many bytes to move to the next vertex
                            3 * floatSize);  // first vertex entry offset (skip first 3 x,y,z floats)
    // give opengl the OK to use these properties for this attribute
    gl.enableVertexAttribArray(aColor);
    
    // send elements (indices) data to the index buffer
    gl.bindBuffer(gl.ELEMENT_ARRAY_BUFFER, indexBuffer);
    gl.bufferData(gl.ELEMENT_ARRAY_BUFFER, indices, gl.STATIC_DRAW);
    
    // give back the number of vertices in the buffer
    return n;
}
main();
</script>
<script>
function initMain() {
    var codeArea = document.getElementById("codeArea");
    var webGLScript = document.getElementById("WebGLScript");

    codeArea.value = webGLScript.text;

    var runButton = document.getElementById("runButton");
    runButton.onclick = function() {
        var runFunc = new Function(codeArea.value);
        runFunc();
    }
    //var initialRunFunc = new Function(codeArea.value);
    //initialRunFunc();
}
</script>
</body>
</html>
