<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BJ's Website</title>
    
  <link rel="stylesheet" type="text/css" href="../../site.css"/>
</head>
<body>
<h1>Game Engine Architecture</h1>

<p>Notes for "Game Engine Architecture"
by Jason Gregory</p>
<p>Trying taking notes in markdown then converting to HTML. So far this seems good, its faster
than typing out html tags by hand!</p>

<ul>
<li><a href="chapter3/chapter3.html">Chapter 3.html</a></li>
<li><a href="chapter3/chapter3.md.txt">Chapter 3.md.txt</a></li>
<li><a href="chapter4/chapter4.html">Chapter 4.html</a></li>
<li><a href="chapter4/chapter4.md.txt">Chapter 4.md.txt</a></li>
<li><a href="chapter5/chapter5.html">Chapter 5.html</a></li>
<li><a href="chapter5/chapter5.md.txt">Chapter 5.md.txt</a></li>
<li><a href="chapter6/chapter6.html">Chapter 6.html</a></li>
<li><a href="chapter6/chapter6.md.txt">Chapter 6.md.txt</a></li>
<li><a href="chapter7/chapter7.html">Chapter 7.html</a></li>
<li><a href="chapter7/chapter7.md.txt">Chapter 7.md.txt</a></li>
</ul>

<a href="https://www.amazon.com/Engine-Architecture-Third-Jason-Gregory/dp/1138035459">
<img src="bookcover.jpg"/>
</a>

<p>
<a href="../../index.html">&lt;-- Back to Home</a>
</p>

</body>
</html>

