<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BJ's Website</title>
    
  <link rel="stylesheet" type="text/css" href="../../site.css"/>
</head>
<body>
<h1>GBA EZ-Flash Omega</h1>

<a href="https://www.retromodding.com/products/ez-flash-omega">https://www.retromodding.com/products/ez-flash-omega</a>

<p>A device allowing you to boot GBA games from a SD card, like the PS-IO for the playstation one. This one's alot easier
as you don't have to mod the device for it to work. The only thing you need to do is put a kernel image
on the SD card, then hold R1 while booting the GBA. This updates the flash firmware, and only needs to be
done once. After that, you just copy GBA files to the SD card, then boot up the device,
where you select the ROM to load! Nice and easy</p>

<img src="images/total_system.jpg" width="500px"/><br/>
<img src="images/boot_menu.jpg" width="500px"/><br/>
<img src="images/ingame_dk.jpg" width="500px"/><br/>

<p>
<a href="../../index.html">&lt;-- Back to Home</a>
</p>

</body>
</html>

