<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BJ's Website</title>
    <link rel="stylesheet" type="text/css" href="../../site.css"/>
</head>
<body style="min-height:1000px;">
<h1>HopsLib</h1>
<img src="https://bytebucket.org/williamblair/hopslib/raw/66fb8143541b3959ae6913a12ea9db3693a86dae/images/hopslogo.png" width="200px"/>

<p>My work-in-progress c++ homebrew console game programming library.</p>
<p>Code: <a href="https://bitbucket.org/williamblair/hopslib">Bitbucket</a></p>
<p>Currently targets the following platforms:</p>
<ul>
<li>
    PC - Windows &amp; Linux using SDL2 + OpenGL
</li>
<li>
    PS3 - Using <a href="https://github.com/ps3dev">PS3DEV</a>
</li>
<li>
    PSP - Using <a href="https://pspdev.github.io/">PSPDEV</a>
</li>
<li>
    Wii - Using <a href="https://devkitpro.org/">devkitPro</a>
</li>
</ul>

<p>Potential future platforms:</p>
<ul>
<li>
Xbox using <a href="https://github.com/XboxDev/nxdk">nxdk</a>
</li>
<li>
Nintendo DS using <a href="https://devkitpro.org/">devkitPro</a>
</li>
<li>
Playstation 2 using <a href="https://github.com/ps2dev">PS2DEV</a>
</li>
</ul>

<p>Current Features:</p>
<ul>
<li>
    Static Meshes
    <ul><li>OBJ, PLY</li></ul>
</li>
<li>
    Animated Meshes
    <ul><li>Assimp (in progress), IQM, MD2</li></ul>
</li>
<li>
    Textures
    <ul><li>TGA, BMP</li></ul>
</li>
<li>
    Music/Sound Effects
    <ul>
        <li>PC: SDL mixer (WAV, MP3, OGG, etc.), PS3/PSP: WAV files, Wii: OGG files</li>
    </ul>
</li>
<li>
    Lighting (in progress)
    <ul><li>Single directional &amp; positional light</li></ul>
</li>
<li>
    3D Math library
    <ul><li>Vec2, Vec3, Vec4, Mat4, Quat, Transform</li></ul>
</li>
<li>
    2D Fonts 
    <ul><li>Via <a href="http://www.angelcode.com/products/bmfont/">bmfont</a> (ascii format)</li></ul>
</li>
<li>
    2D Sprites
</li>
</ul>

<p>Planned TODO features:</p>

<ul>
<li>Static body physics</li>
<li>Skyboxes</li>
<li>Custom Shaders (PC/PS3)</li>
<li>Materials</li>
<li>Scene graph/BSP/Octrees</li>
<li>Full blinn-phong shading, multiple lights</li>
</ul>

<p>Logs:</p>
<ul>
<li><a href="./2022.html">2022</a></li>
<li><a href="./2023.html">2023</a></li>
</ul>

<p>
<a href="../../index.html">&lt;-- Back to Home</a>
</p>

</body>
</html>

