<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BJ's Website</title>
    
    <link rel="stylesheet" type="text/css" href="../site.css"/>
  </head>
<body>
<div>
 <h1>Hello World!</h1>
 <hr/>
 <div>
      <div>
        <p>
          Hello internet traveler, My name's BJ. I graduated with a BS and MS in computer science
          from SUNY Polytechnic Institute in 2019, and I'm currently working as a software developer.
        </p>
        <img src="../images/profile_3.jpg"/>
        <p>
          I enjoy playing music (guitar/drums), computer programming, skiing/skating/
          snowboarding, semi-casually consuming anime and video games, and random
          tech stuff.
        </p>
        <p>
          In high school I picked up an interest in programming and started to learn
          C and C++, thanks to the awesome youtube channel 
          <a href="https://www.youtube.com/user/thenewboston">thenewboston</a>.
          Shoutout to my man Bucky Roberts
        </p>
        <img src="../images/bucky.jpg" width="500"/>
      </div>
 </div>
</div>
  
  <p>
  <a href="../index.html">&lt;-- Back to Home</a>
  </p>
    
</body>
</html>
