<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BJ's Website</title>
  <link rel="stylesheet" type="text/css" href="../site.css"/>
</head>
<body>

<div id="bodyDiv">
    
    <div id="contentDiv">

    <h1 style="text-align:center;">Clean Code</h1>
    <h2 style="text-align:center;">A Handbook of Agile Software Craftsmanship by 
        Robert C. Martin
    </h2>

    <p>These are my notes from <i>Clean Code</i> by Robert "Uncle Bob"
    Martin. I mainly wrote them to get more practice with Latex, and
    also to try out <i>latex2html</i>. These html pages were generated
    from the following tex/pdf:</p>

    <a href="./clean_code_notes/main.txt">main.tex</a><br/>
    <a href="./clean_code_notes/main.pdf">main.pdf</a><br/>

    <p>
    One interesting thing is that <i>latex2html</i> put all images
    as located at /usr/share/latex2html/icons, which obviously doesn't
    work if you actually put them online somewhere. This was
    an opportunity to practice my <i>sed</i> skills; so I changed
    all of the locations of the images by removing the '/usr/local/...'
    prefix with the following command:
    </p>

<pre>
sed -ibak 's/\/usr\/share\/latex2html\/icons\///g' ./*.html
</pre> 

<p>
Then I just copied all of the required images to the current directory.
Anyways, here are the notes:
</p>

<figure style="margin-left:auto;margin-right:auto;">
<a href="./clean_code_notes/index.html">
<img src="../images/clean_code.jpg"/>
</a>
<figcaption>Click Me!</figcaption>
</figure>
    
    </div> <!-- contentDiv -->
    
</div> <!-- bodyDiv -->

<p><a href="../index.html">&lt;-- Back to Home</a></p>

</body>
</html>

