<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BJ's Website</title>
  <link rel="stylesheet" type="text/css" href="../site.css"/>
  
</head>
<body>

<div id="bodyDiv">

<div id="contentDiv" style="margin:10px;">

<h1>Doodle</h1>
<h3>I try to draw</h3>
<div style="display:flex;flex-direction:row;">

  <div>
  <figure>
    <img src="../images/sailor-moon-screenshot.jpg">
    <figcaption>
    Source image
    </figcaption>
  </figure>
  <figure>
    <img src="../images/pixel-256x256.png"/>
    <figcaption>
    My attempt
    </figcaption>
  </figure>
  </div>
  
  <div>
  <figure>
    <img src="../images/ami_surprised.jpg" width="500px"/>
    <figcaption>Source image</figcaption>
  </figure>
    <figure>
    <img src="../images/ami_surprised_bj.png" width="500px"/>
    <figcaption>My attempt</figcaption>
  </figure>
  </div>
</div>

</div> <!-- bodyDiv -->

<p><a href="../index.html">&lt;-- Back to Home</a></p>

</body>
</html>
