<!DOCTYPE html>
<html>
  <head>
    <title>williamblair.github.io</title>
  </head>
  <body>
  <div class="content">
        <div class="level">
            <div class="level-item">
            <a href="http://fluxbox.org/">
            <img src="../images/fblogo-metal.png" width="300px" height=""/> <br/>
            </a>
            </div>
        </div>
        <hr/>
    <div class="box has-shadown">
    <article>
                        <p>
                            <b>
                            <a href="http://fluxbox.org">Fluxbox</a>
                            </b>
                            is a window manager for the X11 window system that I use and enjoy
                        </p>
                        <p>
                            What makes Fluxbox so awesome is that, besides being so lightweight,
                            it's extremely customizable via a collection of text files, located
                            in your home directory - this makes playing around with your desktop
                            fun and easy
                        </p>
                        <p>
                            To see what I mean, check out <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rja&uact=8&ved=0ahUKEwi84M2rlIPOAhVFOSYKHXdDCg0QFggpMAI&url=https%3A%2F%2Fubuntuforums.org%2Fshowthread.php%3Ft%3D617812&usg=AFQjCNEQM68pFFAVK2xzg-BDeTSO-CG9PA&bvm=bv.127521224,d.dmo">this article</a>, and the 
                            <a href="https://wiki.archlinux.org/index.php/fluxbox">Arch Wiki 
                            Fluxbox</a> page
                        </p>
                        <p>
                            However, because Fluxbox is purely a window manager, not a desktop
                            environmnt, it doesn't come with many of the tools you might expect
                            out of a computer, such as a file manager or a click-and-choose background
                            setter.
                        </p>
                        <p>
                            In particular, I wanted to be able to see the image I was
                            choosing before setting my wallpaper with <i>fbsetbg</i>,
                            fluxbox's command line wallpaper setter.
                            This motivated me to create the following:
                        </p>
                        <p>
                            <b>
                            fbsetbg-gtkmm:
                            </b> <br/>
                            A frontend for 'fbsetbg' using gtkmm, similar to nitrogen - currently
                            allows for background scaling options as well (-f, -c, -t, -a)
                            <br/>
                            <a href="https://github.com/williamblair/fbsetbg-gtkmm">
                            https://github.com/williamblair/fbsetbg-gtkmm
                            </a>
                        </p>
                        <div id="screenshot">
                            Screenshot of fbsetbg-gtkmm: <br/>
                            <a href="../images/fbsetbg-gtkmm-screenshot.png">
                            <img src="../images/fbsetbg-gtkmm-screenshot.png" width="500px"/>
                            </a>
                        </div>
            </article>
    </div>
  </div>
  </body>
  <p><a href="../index.html">&lt;-- Back to Home</a></p>
</html>
