<!DOCTYPE html>
<html>
  <head>
    <title>williamblair.github.io</title>
    
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- load ace editor -->
    <script src="../ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

    <!-- GPU.js -->
    <script src="../javascript/gpu.js" type="text/javascript"></script>
    
    <!-- hilight js, modified css version -->
    <link rel="stylesheet" href="monokai-sublime-bj.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    
    <!-- angular hilight.js -->
    <script src="https://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>
    
    <style>
    #mycanvas {
        width: 640px;
        height: 480px;
        overflow: hidden;
    }
</style>

<!-- ace editor -->
<style>
    .codeEditor {
        height: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
    
  </head>
  <body>
 <div class="content">
 <h1>Mandelbrot Generation using GPU.js</h1>
 <hr/>
 <div class="box has-shadow">
    <div class="content">
        <!-- canvas to draw on -->
        <div style="width:640px; height:480px; margin-left: auto; margin-right: auto;">
            <canvas id="mycanvas" width="640" height="480"></canvas>
        </div>
        
        <p>w/a/s/d: move</p>
        <p>equals/minus: zoom in/out</p>
        
        <!-- codemirror editor area -->
        <div id="editorArea1" class="codeEditor"></div>
        
        <button class="btn btn-primary" id="runButton">Run</button>
        
        <!-- load ace editor -->
        <script src="../ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

        <!-- jquery load text from javascript file, then initialize
        the editor upon completion -->
        <script>

            $(function(){
                $('#editorArea1').load('../javascript/mandel.js', function(){

                    console.log('load performed!');

                    editor = ace.edit("editorArea1");
                    editor.setTheme("ace/theme/monokai");
                    editor.getSession().setMode("ace/mode/javascript");
                    document.getElementById("editorArea1").style.fontSize="14px";

                    /* set the function to run when the button is clicked */
                    var button = document.getElementById('runButton');
                    button.onclick = function() {
                        var animate = new Function(editor.getValue());
                        animate();
                    };

                    /* Run the function when the web page loads */
                    var initialFunc = new Function(editor.getValue());
                    initialFunc();
                });
            });
        </script>
        
    </div>
 </div>
</div>
    
    <p><a href="../index.html">&lt;-- Back to Home</a></p>
    
  </body>
</html>
