<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BJ's Website</title>
  <link rel="stylesheet" type="text/css" href="../site.css"/>
</head>
<body>
    
<h1>Media Log</h1>

<table>
<tr>
  <td>I am currently watching:</td>
  <td><img width="400" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fres.cloudinary.com%2Fteepublic%2Fimage%2Fprivate%2Fs---dS6jSiH--%2Ft_Preview%2Fb_rgb%3A191919%2Cc_lpad%2Cf_jpg%2Ch_630%2Cq_90%2Cw_1200%2Fv1566441153%2Fproduction%2Fdesigns%2F5689305_0.jpg&f=1&nofb=1"/></td>
</tr>
<tr>
  <td>I am currently playing:</td>
  <td><img width="400" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Focremix.org%2Ffiles%2Fimages%2Fgames%2Fps1%2F9%2Fpersona-ps1-cover-front-48974.jpg&f=1&nofb=1"/></td>
</table>

<h3>Movies</h3>
<table>
<tr>
  <th>Name</th><th>Date</th><th>Runtime (Minutes)</th>
</tr>
<tr><td>Exotica</td><td>08/19/2019</td><td>104</td></tr>
<tr><td>Millenium Actress</td><td>08/13/2019</td><td>87</td></tr>
<tr><td>Memories</td><td>04/27/2019</td><td>113</td></tr>
<tr><td>Robot Carnival</td><td>05/22/2019</td><td>90</td></tr>
<tr><td>Kite (1998)</td><td>05/28/2019</td><td>60</td></tr>
<tr><td>Kite (2014)</td><td>05/28/2019</td><td>90</td></tr>
<tr><td>Mezzo Forte</td><td>05/29/2019</td><td>60</td></tr>
<tr><td>Flavors of Youth</td><td>06/01/2019</td><td>75</td></tr>
<tr><td>Scanners</td><td>06/02/2019</td><td>103</td></tr>
<tr><td>Jin-Roh Wolf Brigade</td><td>06/15/2019</td><td>102</td></tr>
<tr><td>Persona</td><td>08/11/2019</td><td>84</td></tr>
<tr><td>Manchester by the Sea</td><td>01/26/2019</td><td>137</td></tr>
<tr><td>M (1931)</td><td>02/15/2019</td><td>111</td></tr>
<tr><td>Parasite</td><td>02/18/2019</td><td>132</td></tr>
<tr><td>Us</td><td>02/19/2019</td><td>116</td></tr>
<tr><td>A Single Man</td><td>02/20/2019</td><td>100</td></tr>
<tr><td>Vampire Hunter D</td><td>02/21/2019</td><td>80</td></tr>
<tr><td>Split</td><td>02/22/2019</td><td>117</td></tr>
<tr><td>There Will be Blood</td><td>03/23/2020</td><td>158</td></tr>
<tr><td>Altered States</td><td>04/18/2020</td><td>103</td></tr>
<tr><td>The Color Purple</td><td>05/03/2020</td><td>153</td></tr>
<tr><td>Speak (2004)</td><td>05/23/2020</td><td>92</td></tr>
<tr><td>The Good, The Bad, And The Ugly</td><td>05/30/2020</td><td>177</td></tr>
<tr><td>The Gift (2015)</td><td>06/01/2020</td><td>108</td></tr>
<tr><td>Scott Pilgrim vs. the World</td><td>06/04/2020</td><td>112</td></tr>
<tr><td>The Pursuit of Happiness</td><td>06/06/2020</td><td>117</td></tr>
<tr><td>The Ring</td><td>06/07/2020</td><td>115</td></tr>
<tr><td>The Help</td><td>06/09/2020</td><td>146</td></tr>
<tr><td>The Elephant Man</td><td>06/16/2020</td><td>124</td></tr>
<tr><td>Velvet Buzzsaw</td><td>07/19/2020</td><td>113</td></tr>
<tr><td>Swallow</td><td>07/24/2020</td><td>94</td></tr>
<tr><td>Marriage Story</td><td>08/02/2020</td><td>137</td></tr>
<tr><td>The Squid and the Whale</td><td>08/02/2020</td><td>81</td></tr>
<tr><td>Roujin Z</td><td>08/20/2020</td><td>84</td></tr>
<tr><td>Nightcrawler</td><td>09/06/2020</td><td>117</td></tr>
<tr><td>First Man</td><td>09/10/2020</td><td>141</td></tr>
<tr><td>Nosferatu (1979)</td><td>10/10/2020</td><td>106</td></tr>
<tr><td>Being John Malkovich</td><td>10/24/2020</td><td>113</td></tr>
<tr><td>The Color Out of Space</td><td>10/25/2020</td><td>111</td></tr>
<tr><td>Eyes Without a Face</td><td>10/26/2020</td><td>90</td></tr>
<tr><td>The Invisible Man (1933)</td><td>10/27/2020</td><td>71</td></tr>
<tr><td>The Invisible Man (2020)</td><td>10/31/2020</td><td>124</td></tr>
<tr><td>Creep</td><td>11/01/2020</td><td>80</td></tr>
<tr><td>Creep 2</td><td>11/02/2020</td><td>78</td></tr>
<tr><td>Ocean's Eleven (2001)</td><td>11/03/2020</td><td>116</td></tr>
<tr><td>Weathering with You</td><td>11/07/2020</td><td>112</td></tr>
<tr><td>Snowden</td><td>11/19/2020</td><td>134</td></tr>
<tr><td>A Ghost Story</td><td>11/21/2020</td><td>92</td></tr>
<tr><td>Mudbound</td><td>11/27/2020</td><td>134</td></tr>
<tr><td>One Flew Over the Cuckoo's Nest</td><td>11/28/2020</td><td>133</td></tr>
<tr><td>Nausicaa of the Valley of the Wind</td><td>12/04/2020</td><td>117</td></tr>
<tr><td>Tetsuo the Iron Man</td><td>12/06/2020</td><td>67</td></tr>
<tr><td>Hang 'Em High</td><td>12/08/2020</td><td>114</td></tr>
<tr><td>Cold Pursuit</td><td>12/18/2020</td><td>118</td></tr>
<tr><td>Nocturnal Animals</td><td>12/31/2020</td><td>116</td></tr>
<tr><td>The Girl With the Dragon Tattoo</td><td>01/06/2021</td><td>158</td></tr>
<tr><td>Leon the Professional</td><td>01/10/2021</td><td>133</td></tr>
<tr><td>La Femme Nikita</td><td>01/10/2021</td><td>117</td></tr>
<tr><td>The Grey Zone</td><td>01/11/2021</td><td>108</td></tr>
<tr><td>Yojimbo</td><td>01/13/2021</td><td>110</td></tr>
<tr><td>Lake Mungo</td><td>01/16/2021</td><td>89</td></tr>
<tr><td>The Changeling</td><td>01/16/2021</td><td>107</td></tr>
<tr><td>The Dead Zone</td><td>01/20/2021</td><td>103</td></tr>
<tr><td>The Poughkeepsie Tapes</td><td>01/21/2021</td><td>86</td></tr>
<tr><td>The Road</td><td>01/21/2021</td><td>111</td></tr>
<tr><td>Oldboy (2003)</td><td>02/06/2021</td><td>120</td></tr>
<tr><td>My Friend Dahmer</td><td>02/09/2021</td><td>107</td></tr>
<tr><td>Shutter Island</td><td>02/12/2021</td><td>139</td></tr>
<tr><td>Solaris (1972)</td><td>02/13/2021</td><td>166</td></tr>
<tr><td>Bill and Ted's Excellent Adventure</td><td>02/20/2021</td><td>90</td></tr>
<tr><td>Jojo Rabbit</td><td>03/13/2021</td><td>108</td></tr>
<tr><td>The House that Jack Built</td><td>03/21/2021</td><td>155</td></tr>
<tr><td>Antichrist</td><td>03/22/2021</td><td>108</td></tr>
<tr><td>Melancholia</td><td>03/24/2021</td><td>135</td></tr>
<tr><td>Nymphomaniac Volume I</td><td>03/26/2021</td><td>145</td></tr>
<tr><td>The Grand Budapest Hotel</td><td>04/03/2021</td><td>100</td></tr>
<tr><td>Nymphomaniac Volume II</td><td>04/10/2021</td><td>124</td></tr>
<tr><td>MFKZ</td><td>04/24/2021</td><td>93</td></tr>
<tr><td>I Want To Eat Your Pancreas</td><td>04/26/2021</td><td>109</td></tr>
<tr><td>Willy's Wonderland</td><td>05/01/2021</td><td>88</td></tr>
<tr><td>I Am Legend</td><td>05/31/2021</td><td>101</td></tr>
<tr><td>Primal Fear</td><td>06/03/2021</td><td>130</td></tr>
<tr><td>The Empty Man</td><td>06/03/2021</td><td>137</td></tr>
<tr><td>The Outlaw Josey Wales</td><td>06/06/2021</td><td>135</td></tr>
<tr><td>Garden State</td><td>06/13/2021</td><td>102</td></tr>
<tr><td>At Eternity's Gate</td><td>06/25/2021</td><td>110</td></tr>
<tr><td>The Shawshank Redemption</td><td>06/25/2021</td><td>142</td></tr>
<tr><td>Edge of Tomorrow</td><td>06/26/2021</td><td>113</td></tr>
<tr><td>The Devil All the Time</td><td>06/30/2021</td><td>139</td></tr>
<tr><td>eXistenZ</td><td>07/03/2021</td><td>97</td></tr>
<tr><td>Austin Powers: International Man of Mystery</td><td>07/23/2021</td><td>91</td></tr>
<tr><td>Watch Dogs</td><td>07/27/2021</td><td>114</td></tr>
<tr><td>Diary of a Country Priest</td><td>08/07/2021</td><td>115</td></tr>
<tr><td>Pig</td><td>08/28/2021</td><td>92</td></tr>
<tr><td>Dune (2021)</td><td>10/23/2021</td><td>156</td></tr>
<tr><td>The Last Duel</td><td>10/24/2021</td><td>153</td></tr>
<tr><td>Deep Red</td><td>10/31/2021</td><td>126</td></tr>
<tr><td>The French Dispatch</td><td>11/06/2021</td><td>103</td></tr>
</table>
<p>Total Time: 10,883 minutes = 181.38 Hours</p>

<h3>Games</h3>
<table>
<tr>
  <th>Name</th><th>Date Start</th><th>Date End</th><th>Hours Played</th><th>Avg Hours/Day</th>
</tr>

<tr>
  <td>Final Fantasy 7 Remake (PS4)</td><td>04/22/2020</td><td>05/13/2020</td><td>44.5</td><td>2.02</td>
</tr>
<tr>
  <td>Serial Experiments Lain (laingame.net)</td><td>?</td><td>06/01/2020<td>10</td><td>?</td>
</tr>
<tr>
  <td>Policenauts</td><td>?</td><td>06/22/2020</td><td>10</td><td>?</td>
</tr>
<tr>
  <td>The Last of Us</td><td>06/22/2020</td><td>06/27/2020</td><td>19.5</td><td>3.25</td>
</tr>
<tr>
  <td>The Last of Us II</td><td>06/27/2020</td><td>07/05/2020</td><td>28 (DNF)</td><td>3.1</td>
</tr>
<tr>
  <td>Detroit: Become Human</td><td>07/06/2020</td><td>07/11/2020</td><td>10</td><td>1.66</td>
</tr>
<tr>
  <td>Persona 4 Golden (PC)</td><td>08/03/2020</td><td>09/13/2020</td><td>80</td><td>1.90</td>
</tr>
<tr>
  <td>Persona 5</td><td>09/14/2020</td><td>10/29/2020</td><td>105.5</td><td>2.34</td>
</tr>
<tr>
  <td>Metal Gear Solid</td><td>10/30/2020</td><td>11/08/2020</td><td>13</td><td>1.3</td>
</tr>
<tr>
  <td>Persona 3</td><td>11/09/2020</td><td>01/04/2020</td><td>52 (DNF)</td><td>0.93</td>
</tr>
<tr>
  <td>Dead Space</td><td>01/05/2020</td><td>01/09/2020</td><td>4.5 (DNF)</td><td>0.9</td>
</tr>
<tr>
  <td>Unharted: Drake's Fortune</td><td>01/10/2020</td><td>01/24/2020</td><td>10</td><td>0.71</td>
</tr>
<tr>
  <td>Psychonauts</td><td>01/25/2021</td><td>03/13/2020</td><td>5 (DNF)</td><td>0.11</td>
</tr>
<tr>
  <td>Killer 7</td><td>03/13/2021</td><td></td><td></td>DNF<td></td>
</tr>
<tr>
  <td>God of War (2018)</td><td>05/19/2021</td><td></td><td></td><td></td>
</tr>
<tr>
  <td>Revelations Persona (PS1)</td><td>07/31/2021</td><td></td><td></td><td></td>
</tr>
</table>

<p>Total Time: 23,520 Minutes = 392 Hours</p>

<h3>TV/Anime</h3>
<table>
<tr>
  <th>Name</th><th>Date End</th>
</tr>
<tr><td>The X Files</td><td>?</td></tr>
<tr><td>Aeon Flux</td><td>03/25/2020</td></tr>
<tr><td>Boogiepop Phantom</td><td>03/31/2020</td></tr>
<tr><td>Ghost Hound</td><td>04/19/2020</td></tr>
<tr><td>Texhnolyze</td><td>05/05/2020</td></tr>
<tr><td>Welcome to the NHK</td><td>05/15/2020</td></tr>
<tr><td>AD Police Files</td><td>06/10/2020</td></tr>
<tr><td>Mushishi</td><td>06/25/2020</td></tr>
<tr><td>FLCL</td><td>07/12/2020</td></tr>
<tr><td>Years and Years</td><td>08/14/2020</td></tr>
<tr><td>Aggretsuko</td><td>09/18/2020</td></tr>
<tr><td>Malice@Doll</td><td>09/20/2020</td></tr>
<tr><td>Dark</td><td>10/06/2020</td></tr>
<tr><td>Japan Sinks 2020</td><td>11/15/2020</td></tr>
<tr><td>Mononoke</td><td>12/12/2020</td></tr>
<tr><td>Steins;Gate</td><td>01/09/2021</td></tr>
<tr><td>Terror in Resonance</td><td>01/22/2021</td></tr>
<tr><td>Log Horizon</td><td>02/27/2021</td></tr>
<tr><td>Violet Evergarden</td><td>03/20/2021</td></tr>
<tr><td>Jujutsu Kaisen</td><td>04/16/2021</td></tr>
<tr><td>Serial Experiments Lain</td><td>05/01/2021</td></tr>
<tr><td>Blue Gender</td><td>07/03/2021</td></tr>
<tr><td>Angel Beats</td><td>08/14/2021</td></tr>
</table>

<p><a href="../index.html">&lt;-- Back to home</a></p>

</body>
</html>


