<!DOCTYPE html>
<html>
  <head>
    <title>williamblair.github.io</title>
  </head>
  <body>

  <div class="content">
    <h1>MemCARDuino: Copy PS1 Saves To/From Your Memory Card!</h1>
    <hr/>
    <div class="box has-shadow">
				<p>
				Emulators have their advantages and disadvantages, and sometimes, they just don't seem to work right.
				No emulator is perfect! So if you want to switch over to hardware, you need a way to take your game
				save with you. 
				</p>
				<p>
				For the PS1, a cool guy named Shendo created 
				<a href="http://shendohardware.blogspot.com/2013/06/memcarduino.html">MemCARDuino</a>, which uses an 
				<a href="https://www.arduino.cc/">Arduino</a> to read and write data from/to your memory card. 
				If you don't have an arduino, but have a PS2, you can copy your saves through the uLaunchElf file
				explorer for the PS2. This method requires Free McBoot, a custom firmware that runs off your memory
				card. There are many ways to install Free McBoot, and a quick google should find you plenty of
				information.
				</p>
				<p>If you don't have a PS2 (or have a broken one!), this method may be less of a hassle.
				First, (besides an Arduino), you'll need wire access to your memory cards pins. I used the 
				controller/memory card slots out of a broken PS2:
				</p>
				<a href="../images/memcarduino_pic3.jpg"><img src="../images/memcarduino_pic3_small.jpg"/></a>
				<p>
				Alternatively, you could use the ports from a ps1, or I've seen a '4gamers ps2 memory expansion'
				with the back cut off used as well (see <a href="http://www.jaskagaming.com/tag/memcarduino/">here</a>)
				Either way, you'll probably have to do some soldering. The ports from the ps2 were pretty easy to access
				and are clearly divided into 3 sections just like the memory card:
				</p>
				<a href="../images/memcarduino_pic2.jpg"><img src="../images/memcarduino_pic2_small.jpg"/></a>
				<p>
				Next, plug the wires into their specifed ports in the arduino, following 
				<a href="http://shendohardware.blogspot.com/2013/06/memcarduino.html">Shendo's Guide</a>.
				If your Arduino isn't an Uno, you might have to use different ports, and change the pin
				numbers in this part of Shendo's code (at the top): <br/>
				<code>
				//Define pins                                     <br/>
                #define DataPin 12         //Data                 <br/>
                #define CmdPin 11          //Command              <br/>
                #define AttPin 10          //Attention (Select)   <br/>
                #define ClockPin 13        //Clock                <br/>
                #define AckPin 2           //Acknowledge          <br/>
				</code>
				</p>
				<a href="../images/memcarduino_pic4.jpg"><img src="../images/memcarduino_pic4_small.jpg"/></a>
				<a href="../images/memcarduino_pic1.jpg"><img src="../images/memcarduino_pic1_small.jpg"/></a>
				<p>
				I left the third pin (7.6v external power) unconnected. Shendo and others state that it may
				be required for some third party cards, but I had no problem with my Pelican or
				Sony brand cards without it. Also, Shendo's guide says to use a 3.6v voltage divider to 
				Arduino's 5v power, but I connected mine directly and had no issues.
				</p>
				<p>
				The next step is to load memcarduino onto your Arduino, by opening the *.ino from 
				Shendo's download in the Arduino IDE. If you used different ports than from Shendo's
				guide, then be sure to change the <code>#define</code> numbers from the section of code 
				above before uploading it!
				</p>
				<p>
				Finally, to move saves to/from your memory card, you'll need a program called
				<a href="http://shendosoft.blogspot.com/2014/01/memcardrex-18-released.html">MemcardRex</a>, 
				which is Windows only... (also written by Shendo!)
				</p>
				<p>
				The first time you run MemcardRex, go to Options->Preferences, and select the COM port
				for your Arduino. Next, with your memory card inserted, go to Hardware->Read Save Data->
				MemCARDuino - this will load the data from your memory card into MemcardRex:
				</p>
				<a href="../images/memcarduino_screen1.png"><img src="../images/memcarduino_screen1.png"/></a>
				<p>
				This took about 30s-1 minute for me. The first time I tried, it just sat there and I had to Abort;
				it turned out one of my wires on the breadboard was loose, so be sure to check those! You should
				then have all of the memory card's saves being shown on your screen:
				</p>
				<a href="../images/memcarduino_screen2.png"><img src="../images/memcarduino_screen2.png"/></a>
				<p>To use them with an emulator, or just to save them on your computer, go to File->Save, and
				it will default to a .mcr format. To import a save into your memory card, Open your emulator's
				memory card file in MemcardRex, Click on the save you want to use, and then click the green arrow
				(Export Save) at the top of the program, and save the file somewhere:
				</p>
				<a href="../images/memcarduino_export_ind_save.png"><img src="../images/memcarduino_export_ind_save.png"></a>
				<p>
				Next, go back to your MemCARDuino tab in MemcardRex, select a 'Free slot', click on the red arrow 
				(Import save) at the top of the program, and select the exported save file you just created:
				</p>
				<a href="../images/memcarduino_screen3.png"><img src="../images/memcarduino_screen3.png"/></a>
				<a href="../images/memcarduino_screen4.png"><img src="../images/memcarduino_screen4.png"/></a>
				<p>
				To update the data on your memory card, go to Hardware->Write save data->MemCARDuino. 
				<b>Be careful - this will overwrite EVERY SLOT on your memory card.</b> You have been warned!
				That being said, if you want your memory card to be a copy of your emulator's, you can
				skip the last two steps, and directly File->Load the memory card file and then Hardware->
				Write save data->MemCARDuino instead.
				</p>
				<a href="../images/memcarduino_screen5.png"><img src="../images/memcarduino_screen5.png"/></a>
				<p>
				And that's it! Here's some pics of me testing my save with Castlevania: SoTN
				</p>
				<p>In the PS1 Bios:</p>
				<a href="../images/bios_card2.jpg"><img src="../images/bios_card2_small.jpg"/></a>
				<p>Loading in game:</p>
				<a href="../images/ingame_card2.jpg"><img src="../images/ingame_card2_small.jpg"/></a>
    </div>
    </div>
    
    <p><a href="../index.html">&lt;-- Back to Home</a></p>
    
  </body>
</html>
