<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Beedge</title>
  <link rel="stylesheet" type="text/css" href="../site.css"/>
  
</head>
<body>

<div id="bodyDiv">

<div id="contentDiv">

<h1>Favorite Songs Archive</h1>
<p>These are songs that have been stuck in my head (in a good way!)
for some period of time</p>

<!-- Placebo - Without You I'm Nothing (feat. David Bowie) 
    04/04/2020 -->
<h3>Placebo - Without You I'm Nothing (feat. David Bowie)</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/c14qMbmP9eg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<!-- The smiths - girlfriend in a coma
    04/04/2020 -->
<div>
<h3>The Smiths - Girlfriend In a Coma</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/3GhoWZ5qTwI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!-- Pulp - common people (william shatner cover)
    04/04/2020 -->
<div>
<h3>Pulp - Common People (William Shatner cover)</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ainyK6fXku0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!-- The beatles - fixing a hole 
    04/04/2020 -->
<div>
<h3>The Beatles - Fixing a Hole</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/nGRoSJaz-nw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!-- Fleetwood Mac - Gypsy
    04/13/2020 -->
<div>
<h3>Fleetwood Mac - Gypsy</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mwgg1Pu6cNg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!-- Christian Death - Spiritual Cramp
    04/18/2020 -->
<div>
<h3>Christian Death - Spiritual Cramp</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/vQDduSL15nQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!-- Daft Punk - Something about us
    04/19/2020 -->
<div>
<h3>Daft Punk - Something About Us</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/sOS9aOIXPEk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!-- The Marías - ABQ
    04/23/2020 -->
<div>
<h3>The Marías - ABQ</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/0sYbYUumvu4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!-- Black Flag - Six Pack
     05/29/2020 -->
<div>
<h3>Black Flag - Six Pack</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/VPCVRYn7ED8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!-- Talking Heads - Burning Down the House
     07/24/2020 -->
<div>
<h3>Talking Heads - Burning Down the House</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_3eC35LoF4U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!-- Bush - Swallowed
     07/24/2020 -->
<div>
<h3>Bush - Swallowed</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8FIBPKRV3kk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!-- Interpol - All the Rage Back Home
     11/15/2020 -->
<div>
<h3>Interpol - All the Rage Back Home</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-u6DvRyyKGU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</div> <!-- contentDiv -->

</div> <!-- bodyDiv -->

<p><a href="../index.html">&lt;-- Back to Home</a></p>

</body>
</html>

