<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BJ's Website</title>
    <link rel="stylesheet" type="text/css" href="../site.css"/>


<style>
    canvas {
        width: 640px;
        height: 480px;
    }
    textarea {
        border: 5px solid #00FF00;
    }
</style>

</head>
<body>

<div id="bodyDiv">

<div id="contentDiv">

<canvas id="mycanvas" width="640" height="480"></canvas>
<br/>
<br/>

<textarea cols="80" rows="10" id="codeArea"></textarea>
<br/>
<button type="button" id="runButton">Run</button>


<script id="juliaCode">

var canvas = document.querySelector("#mycanvas");
        var ctx = canvas.getContext("2d");

        var imageWidth = 640;
        var imageHeight = 480;
        var numChannels = 4; // RGBA
        var imageData = new ImageData(imageWidth, imageHeight);

        // unlike in the julia set, max iterations doesn't mean anything
        // here and is just used by hsv to rgb to figure out how to convert
        // from 0..maxIterations to 0..360
        // here it's 256 as the plasma generation will use 0..255
        var maxIterations = 256;

        var Display = {

        width: 0,
        height: 0,
        data: null,

        initOpacities: function()
        {
            for (var i = 0; i < this.width * this.height * this.numChannels; i++)
            {
                /* ImageData.data is an RGBA buffer
                 * with max's of 255, this sets the
                 * opacity of each pixel to be 255 */
                if ((i+1) % 4 === 0)
                    this.imageData.data[i] = 255;
            }

        },

        setBackgroundColor: function(r,g,b)
        {
            for (var i = 0; i < this.width * this.height * this.numChannels; i+= this.numChannels)
            {
                this.imageData.data[i+0] = r;
                this.imageData.data[i+1] = g;
                this.imageData.data[i+2] = b;
            }
        },

        init: function(width, height, r, g, b)
        {

            this.width = width;
            this.height = height;
            this.numChannels = 4;

            this.imageData = new ImageData(width, height);

            this.initOpacities();
            this.setBackgroundColor(r,g,b);
        },

        drawPixel: function(x, y, r, g, b)
        {
            var pos = (y * this.width + x) * this.numChannels;
            this.imageData.data[pos + 0] = r;
            this.imageData.data[pos + 1] = g;
            this.imageData.data[pos + 2] = b;
        },

        /* http://rosettacode.org/wiki/Bitmap/Bresenham%27s_line_algorithm#C */
        drawLine: function(x1, y1, x2, y2, r, g, b)
        {
            var dx = Math.abs(x2-x1), sx = x1<x2 ? 1 : -1;
            var dy = Math.abs(y2-y1), sy = y1<y2 ? 1 : -1;
            var err = (dx>dy ? dx : -dy)/2, e2;

            for(;;){
                this.drawPixel(x1,y1, r, g, b);
                if (x1==x2 && y1==y2) break;
                e2 = err;
                if (e2 >-dx) { err -= dy; x1 += sx; }
                if (e2 < dy) { err += dx; y1 += sy; }
            }
        },

        drawLineCanvas(x1, y1, x2, y2, r, g, b)
        {
            ctx.moveTo(x1, y1);
            ctx.lineTo(x2, y2);
            ctx.fillStyle = "rgb(" + r + "," + g + "," + b + ")";
        //    ctx.fillStyle = "#FF0000";
            ctx.stroke();
        },

        drawText(x, y, message)
        {
            ctx.fillText(message, x, y);
        },

        update: function()
        {
            ctx.putImageData(this.imageData, 0,0);
        },

        clear: function(r, g, b)
        {
            this.imageData.data.fill(0);
            this.initOpacities();
            this.setBackgroundColor(r,g,b);
            this.update();
        }

        };

        // returns an object with r,g,b values
        var hsv2rgb = function(num) {

            // Formula from https://www.rapidtables.com/convert/color/hsv-to-rgb.html

            // convert from 0..maxIterations to 0..360
            var numScaled = num * (360.0 / maxIterations);

            // C = V * S
            // S = 255, V = 255 * (i < maxIterations) in lodev function:
            // HSVtoRGB(ColorHSV(i % 256, 255, 255 * (i < maxIterations)))
            var H = numScaled;
            if (H > 359) H = 359; // max
            var S = 1;
            var V = 1 * (num < maxIterations);
            var C = V * S;

            var X = C * (1 - Math.abs((H / 60) % 2 - 1));
            var m = V - C;

            var R = 0, G = 0, B = 0;

            if      ( 0 <= H && H < 60)   { R = C; G = X; B = 0; }
            else if (60 <= H && H < 120)  { R = X; G = C; B = 0; }
            else if (120 <= H && H < 180) { R = 0; G = C; B = X; }
            else if (180 <= H && H < 480) { R = 0; G = X; B = C; }
            else if (480 <= H && H < 300) { R = X; G = 0; B = C; }
            else if (300 <= H && H < 360) { R = C; G = 0; B = X; }

            R = (R+m)*255;
            G = (G+m)*255;
            B = (B+m)*255;

            return {
                'r': R,
                'g': G,
                'b': B 
            };

        };

        var imageWidth = 640;
        var imageHeight = 480;
        var bgColor = [255,255,255];
        Display.init(imageWidth, imageHeight, bgColor[0], bgColor[1], bgColor[2]);

        Display.update();

var S_WIDTH = 640;
var S_HEIGHT = 480;

var palette = [];
var plasma = [];

function generatePalette() {
    for (var i = 0; i < 256; ++i) {
        var color = hsv2rgb(i);
        palette.push(color);
    }
};

/* This function is where you can have some fun :)
 * by changing the sin function to get colorIndex 
 */
function generatePlasma() {
    for (var y = 0; y < S_HEIGHT; y++)
    for (var x = 0; x < S_WIDTH; x++)
    {
        // 2 sines
        //var colorIndex = Math.floor((128.0 + (128.0*Math.sin(x / 16.0)) + 
        //                  128.0 + (128.0*Math.sin(y / 16.0))
        //                 ) / 2);

        // 4 sines
        var colorIndex = Math.floor((128.0 + (128.0*Math.sin(x / 16.0)) + 
                                     128.0 + (128.0*Math.sin(y / 32.0)) +
                                     128.0 + (128.0*Math.sin(Math.sqrt((x-S_WIDTH/2.0)*(x-S_WIDTH/2.0)+(y-S_HEIGHT/2.0)*(y-S_HEIGHT/2.0))/8.0)) +
                                     128.0 + (128.0*Math.sin(Math.sqrt(x*x+y*y)/8.0))
                         ) / 4);

        plasma.push(colorIndex);
    }
};

function runPlasma() {
    /*
    for (var y=0; y < S_HEIGHT; ++y)
    for (var x=0; x < S_WIDTH; ++x)
    {
        //var initialColor = 128.0 + (128.0 * Math.sin(x / 8.0)); // vertical lines
        //var initialColor = 128.0 + (128.0 * Math.sin(y / 8.0)); // horizontal lines
        //var initialColor = 128.0 + (128.0 * Math.sin(Math.sqrt((x - S_WIDTH / 2.0) * (x - S_WIDTH / 2.0) + 
        //                                                       (y - S_HEIGHT / 2.0) * (y - S_HEIGHT / 2.0)
        //                                                      ) / 8.0)); // distance from point 0,0

        // for example, the sum of two sins give you a plasma
        var initialColor = (128.0 + (128.0 * Math.sin(x / 8.0)) + // sin1
                           128.0 + (128.0 * Math.sin(y / 8.0)))   // sin2 (of y this time)
                            / 2;                                  // divide by 2 afterwords

        console.log(initialColor);
        var color = hsv2rgb(initialColor);
        Display.drawPixel(x, y, color.r, color.g, color.b);
    }*/

    // parameter to shift the palette
    var shift = Date.now();

    for (var y = 0; y < S_HEIGHT; y++)
    for (var x = 0; x < S_WIDTH; x++)
    {
        var color = palette[(plasma[y*S_WIDTH+x] + shift) % 256];
        Display.drawPixel(x, y, color.r, color.g, color.b);
    }

    Display.update();
    requestAnimationFrame(runPlasma);
};

generatePalette();
generatePlasma();

requestAnimationFrame(runPlasma);

</script>

<script>
var codeArea = document.querySelector("#codeArea");
var julia = document.querySelector("#juliaCode");

codeArea.value = julia.text;

document.querySelector("#runButton").onclick = function() {
    var runFunc = new Function(codeArea.value);
    runFunc();
};

</script>

</div> <!-- contentDiv -->
</div> <!-- bodyDiv -->

<p><a href="../index.html">&lt;-- Back to Home</a></p>

</body>
</html>

