<div class="section">
  <div class="content">
        <header class="level">
            <div class="level-item">
                <img src="images/pslogo.png"/>
            </div>
            <br/>
        </header>
        <hr/>
    <div class="box has-shadow">
    <article id="psarticle">
        <p>
            A common issue with the PSX is that, like all CDs, 
            all our games get scratched, and the lasers get worn
            down, leaving you with skipping or unplayable games :(
        </p>
        <h3>NO MORE!</h3>
        <p>
            Around 2013 or so, I came across a project in development
            called <a href="https://ps-io.com">PSIO</a>. 
            It's goal was to create a device that
            would run PSX games off of an SD card. No more burnt out
            lasers or scratched discs! After two years of patiently
            waiting, PSIO was released to the public; so of course
            I ordered mine as soon as I could.
        </p>
        <br/>
        <p>
            The device plugs into the serial port of your fat PSX 
            (unfortunately you can't use it with the newer, smaller
            playstations) and you plug your SD card with games on it
            into that. You also have to solder a tiny chip onto
            your playstation's motherboard - What this does is redirect
            the motherboard to read from the PSIO instead of the
            cd laser.
        </p>
        <br/>
        <p>
            What's that you say? You want one of these spectacular
            devices as well!? As of February, 2017, I believe the
            PSIO guys are selling them as they are available;
            And you can sign up to be notified when they are.
            The only catch is that they cost $150 US and you are
            required to do some soldering (I believe you can ship
            them your playstation and they'll install it for you,
            though). Check out their website here:
        <h4><a href="https://ps-io.com">https://ps-io.com</a></h4>
        </p><br/>
        <h3>Some pics of the PSIO:</h3>
        <p>
            The cartridge that plugs into the PSX. You can see the SD card
            sticking out of the top
        <div class="level">
            <img class="level-item" style="max-width:500px" src="images/psio/IMG_20170209_184743.jpg"/>
        </div>
        </p><br/>
        <p>
            PSIO comes with a dandy sticker to show off how cool your
            playstation is now
        <div class="level">
            <img class="level-item" style="max-width:500px" src="images/psio/IMG_20170209_184925.jpg"/>
        </div>
        </p><br/>
        <p>
            The PSX motherboard with the switchboard installed. Besides
            adding the wires, you also have to cut 3 traces on the
            motherboard, so an exacto knife or something is required
            as well
        <div class="level">
            <img class="level-item" style="max-width:500px" src="images/psio/IMG_20170209_185757.jpg"/>
        </div>
        </p><br/>
        <p>
            My playstation with the PSIO plugged in. You can see my
            Raspberry PI there too
        <div class="level">
            <img class="level-item" style="max-width:500px" src="images/psio/IMG_20170209_191323.jpg"/>
        </div>
        </p><br/>
        <p>
            When the PSX Bios boot up you can notice that the SONY
            label or whatever is replaced with the PSIO label
        <div class="level">
            <img class="level-item" style="max-width:500px" src="images/psio/IMG_20170209_191353.jpg"/>
        </div>
        </p><br/>
        <p>
            You run games through PSIO's menu system, which additionally
            lets you run games from disc too if you want, which is pretty
            cool
        <div class="level">
            <img class="level-item" style="max-width:500px" src="images/psio/IMG_20170209_191436.jpg"/>
        </div>
        </p>
    </article>
    </div>
  </div>
</div>
