<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <title>BJ's Website</title>
    <link rel="stylesheet" type="text/css" href="../site.css"/>
  </head>
  <body>
 <div class="content">
 <h1>WebGL</h1>
 <hr/>
 <div class="box has-shadow">
      <div class="content">
        <!--<p data-height="265" data-theme-id="0" data-slug-hash="pxQjNW" data-default-tab="js,result" data-user="williamblair" data-pen-title="2D WebGL" class="codepen">See the Pen <a href="https://codepen.io/williamblair/pen/pxQjNW/">2D WebGL</a> by williamblair (<a href="https://codepen.io/williamblair">@williamblair</a>) on <a href="https://codepen.io">CodePen</a>.</p>
        <script async src="https://static.codepen.io/assets/embed/ei.js"></script>-->
          <div id="testScript">
          </div>
      </div>
      <div class="content">
          <div id="testScript3d">
          </div>
      </div>
      <div class="content">
          <div id="testCamera3d">
          </div>
      </div>
      <div class="content">
          <div id="testTeapot">
          </div>
      </div>

   <script>
   /* test injecting the script... */
        var bjtest = function() {
           document.getElementById('testScript').innerHTML = ` 
              <p data-height="480" data-theme-id="0" data-slug-hash="pxQjNW" data-default-tab="js,result" data-user="williamblair" data-pen-title="2D WebGL" class="codepen">See the Pen <a href="https://codepen.io/williamblair/pen/pxQjNW/">2D WebGL</a> by williamblair (<a href="https://codepen.io/williamblair">@williamblair</a>) on <a href="https://codepen.io">CodePen</a>.</p>
           `;

            document.getElementById('testScript3d').innerHTML = `
              <p data-height="480" data-theme-id="0" data-slug-hash="jeQQmm" data-default-tab="js,result" data-user="williamblair" data-pen-title="WebGL3D" class="codepen">See the Pen <a href="https://codepen.io/williamblair/pen/jeQQmm/">WebGL3D</a> by williamblair (<a href="https://codepen.io/williamblair">@williamblair</a>) on <a href="https://codepen.io">CodePen</a>.</p>
            `;

            document.getElementById('testCamera3d').innerHTML = `
              <p data-height="480" data-theme-id="0" data-slug-hash="bmZmqv" data-default-tab="js,result" data-user="williamblair" data-pen-title="WebGL3dCamera" class="codepen">See the Pen <a href="https://codepen.io/williamblair/pen/jeQQmm/">WebGL3dCamera</a> by williamblair (<a href="https://codepen.io/williamblair">@williamblair</a>) on <a href="https://codepen.io">CodePen</a>.</p>
            `;

            document.getElementById('testTeapot').innerHTML = `
              <p data-height="480" data-theme-id="0" data-slug-hash="ePoGLw" data-default-tab="js,result" data-user="williamblair" data-pen-title="WebGLTeapot" class="codepen">See the Pen <a href="https://codepen.io/williamblair/pen/jeQQmm/">WebGLTeapot</a> by williamblair (<a href="https://codepen.io/williamblair">@williamblair</a>) on <a href="https://codepen.io">CodePen</a>.</p>
            `;

            /* Run the external codepen script */
            var script = document.createElement('script');
            script.src = 'https://static.codepen.io/assets/embed/ei.js';
            var srcDiv = document.getElementById("testScript");
            srcDiv.appendChild(script);

            /* Same for the 3d version */
            script = document.createElement('script');
            script.src = 'https://static.codepen.io/assets/embed/ei.js';
            document.getElementById("testScript3d").appendChild(script);

            /* Same for the camera version */
            script = document.createElement('script');
            script.src = 'https://static.codepen.io/assets/embed/ei.js';
            document.getElementById("testCamera3d").appendChild(script);
            console.log('set inner html!');

            /* Same for the teapot version */
            script = document.createElement('script');
            script.src = 'https://static.codepen.io/assets/embed/ei.js';
            document.getElementById("testTeapot").appendChild(script);

            console.log('set inner html!');
        }

        bjtest();
   </script>
   
 </div>
</div>
    <p><a href="../index.html">&lt;-- Back to Home</a></p>
  </body>
</html>
