<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8"/>
  <title>MD2 Test</title>
</head>
<body>
<div>
<canvas id="mycanvas" width="640" height="480">
Your browser doesn't support canvas :(
</canvas>
</div>
<div>
<img id="ogroTexture" src="./Ogrobase.bmp"/>
</div>

<script src="./webgl-utils.js"></script>
<script src="./webgl-debug.js"></script>
<script src="./cuon-utils.js"></script>
<script src="./cuon-matrix.js"></script>
<script src="./Shader.js"></script>
<script src="./MD2Model.js"></script>

<!-- MD2 model bytes array -->
<script src="ogro_tris.js"></script>

<script>

// vertex shader program
var VertexShaderStr =`
    attribute vec3 aPosition; // vertex data passed into the shader
    attribute vec2 aTexCoord;
    
    uniform mat4 uModel;
    uniform mat4 uView;
    uniform mat4 uProjection;
    
    varying vec2 vTexCoord;
    
    void main() {
        gl_Position = uProjection * uView * uModel * vec4(aPosition, 1.0); // coordinates
        
        vTexCoord = aTexCoord;
    }
`;

// fragment shader program
var FragmentShaderStr = `
    precision mediump float;

    uniform sampler2D uTexture;
    
    varying vec2 vTexCoord; 
    
    void main() {
        gl_FragColor = texture2D(uTexture, vTexCoord);
    }
`;

var canvas = null;
var gl = null;
var gShader = null;

var modelMatrix = null;
var viewMatrix = null;
var projectionMatrix = null;
var normalMatrix = null;

var md2Model = null;
var modelRotation = [0.0, 0.0];

function updateUniforms() {
    // send matrices to the shader
    gShader.SetMat4fv(gl, "uModel", modelMatrix.elements);
    gShader.SetMat4fv(gl, "uView", viewMatrix.elements);
    gShader.SetMat4fv(gl, "uProjection", projectionMatrix.elements);
    //gShader.SetMat4fv(gl, "uNormalMatrix", normalMatrix.elements);    
}

var lastTime = null;
function drawLoop(currentTime) {
  gl.clearColor(0.3, 0.0, 0.3, 1.0);
  gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);

  // set the model matrix based on rotation
  //modelMatrix.setTranslate(0, 0, 0);
  //modelMatrix.rotate(modelRotation[0], 1, 0, 0); // x axis rotation
  modelRotation[1] += 0.40;
  if (modelRotation[1] >= 360.0) { modelRotation[1] -= 360.0; }
  modelMatrix.setRotate(modelRotation[0], 1, 0, 0);
  modelMatrix.rotate(modelRotation[1], 0, 1, 0); // y axis rotation
  // update normal matrix based on model matrix
  normalMatrix.setInverseOf(modelMatrix);
  normalMatrix.transpose();
  
  // apply matrix changes
  updateUniforms();

  var dt = 0;
  if (currentTime && lastTime)
  {
    dt = (currentTime - lastTime) / 1000.0; // milliseconds to seconds
  }
  lastTime = currentTime;
  md2Model.Update(gl, dt);
  md2Model.Draw(gl, gShader);

  requestAnimationFrame(drawLoop);
}

function main() {
    canvas = document.getElementById("mycanvas");
    gl = canvas.getContext("webgl2");
    if (!gl) {
        alert("Failed to create webgl2 context");
        return 1;
    }

    gl.enable(gl.DEPTH_TEST);

    // Load and compile shader programs
    gShader = new Shader(gl, VertexShaderStr, FragmentShaderStr);

    // Load models
    md2Model = new MD2Model(gl, gShader, ogro_tris, "ogroTexture");

    // set lighting uniforms
    //gShader.SetVec3f(gl, "uLightColor", 1.0, 1.0, 1.0);
    //gShader.SetVec3f(gl, "uLightPosition", 3.0, 3.0, 2.0);
    //gShader.SetVec3f(gl, "uAmbientColor", 0.2, 0.2, 0.2);
    
    // calculate projection (perspective) matrix
    projectionMatrix = new Matrix4();
    var fov = 30; // field of view angle
    var aspect = canvas.width / canvas.height; // aspect ratio
    var near = 1; // near clip distance
    var far = 100; // far clip distance
    projectionMatrix.setPerspective(fov, aspect, near, far);
    
    // calculate the view matrix
    viewMatrix = new Matrix4();
    viewMatrix.setLookAt(3,  // eye position x
                         0,  // eye position y
                         3,  // eye position z
                         0,  // lookat position x
                         0,  // lookat position y
                         0,  // lookat position z
                         0,  // up x
                         1,  // up y
                         0); // up z
    
    // calcualate the model matrix
    modelMatrix = new Matrix4();
    modelMatrix.setTranslate(0, 0, 0);
    
    // calculate the normal matrix
    normalMatrix = new Matrix4();
    normalMatrix.setInverseOf(modelMatrix);
    normalMatrix.transpose();
    
    updateUniforms();
    drawLoop(0);
}
main();

</script>

</body>
</html>

