<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>01 Draw Rectange</title>
</head>
<body onload="main()">
<canvas id="mycanvas" width="200" height="150">
    Your Browser doesn't support canvas :(
</canvas>
<script>

function main() {
    
    // retrieve the canvas element
    var canvas = document.getElementById("mycanvas");
    
    if (!canvas) {
        console.log("Failed to get canvas element");
        return false;
    }
    
    // Get 2D rendering context
    var ctx = canvas.getContext("2d");
    
    // Draw a rectangle
    ctx.fillStyle = "rgba(0, 0, 255, 1.0)";
    ctx.fillRect(120, 10, 150, 150);
}

</script>
</body>
</html>
