<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BJ's Website</title>
    
  <link rel="stylesheet" type="text/css" href="../../site.css"/>
</head>
<body>
<h1>Beginning OpenGL Game Programming</h1>

<p>Screenshots of programs following "Beginning OpenGL Game Programming"
by Luke Benstead</p>
<p>
<a href="https://www.amazon.com/Beginning-OpenGL-Game-Programming-Second/dp/159863528X/">
<img src="bookcover.jpg" width="300"/>
</a>
</p>

<p>The Code is here: 
<a href="https://github.com/williamblair/BeginningOpenGLGameProgs">
https://github.com/williamblair/BeginningOpenGLGameProgs
</a>
</p>

<figure>
<figcaption>05 - Height Map</figcaption>
<img src="05_heightMap.png"/>
</figure>

<figure>
<figcaption>07 - Textures</figcaption>
<img src="07_textures.png"/>
</figure>

<figure>
<figcaption>08 - Lighting</figcaption>
<img src="08_lighting.gif"/>
</figure>

<figure>
<figcaption>08 - Blending</figcaption>
<img src="08_blending.gif"/>
</figure>

<figure>
<figcaption>08 - Fog</figcaption>
<img src="08_fog.gif"/>
</figure>

<figure>
<figcaption>09 - Alpha Test</figcaption>
<img src="09_alphaTest.gif"/>
</figure>

<figure>
<figcaption>11 - Freetype Fonts</figcaption>
<img src="11_freetypeFonts.png"/>
</figure>

<p>
<a href="../../index.html">&lt;-- Back to Home</a>
</p>

</body>
</html>

