<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BJ's Website</title>
  <link rel="stylesheet" type="text/css" href="../../site.css"/>

  <style>
    .bannersDiv {
        display: flex;
    }
  </style>
  
</head>
<body>

<div id="bodyDiv">

<div id="contentDiv">

<h1><a href="https://lainchan.org/%CE%A9/res/49373.html">Lainchan</a> Webring</h1>
<p>A collection of Lainchan user websites</p>

<div>
<h3>My Button</h3>
<a href="../../images/beedge.png"><img src="../../images/beedge.png"/></a>
</div>

<div id="bannersDiv">
<h3>Banners</h3>

<a href="https://0x1bi.net/"><img src="images/0x1bi.png"></a>
<a href="https://0x4f.org/"><img src="images/0x4f.png"></a>
<a href="https://28chan.org/"><img src="images/28chan.org.png"></a>
<a href="http://alienozi.c1.biz/"><img src="images/alienozi.gif"></a>
<a href="https://bendersteed.tech/"><img src="images/bendersteed.jpg"></a>
<a href="https://born2live.tk/"><img src="images/born2live.png"></a>
<a href="https://radioccc.xyz/"><img src="images/chupacabra.png"></a>
<a href="https://cabbagesorter.neocities.org/"><img src="images/cabbagesorter.png"></a>
<a href="http://cgjzkysxa4ru5rhrtr6rafckhexbisbtxwg2fg743cjumioysmirhdad.onion/"><img src="images/coarseenigma.png"></a>
<a href="https://computability.neocities.org/"><img src="images/computability.png"></a>
<a href="https://concealed.world/"><img src="images/concealed.gif"></a>
<a href="https://confusion.codeberg.page/"><img src="images/confusion.png"/></a>
<a href="https://coolio321.xyz/"><img src="images/coolio.gif"></a>
<a href="https://thecosmiclibrary.neocities.org/"><img src="images/cosmiclibrary.jpg"></a>
<a href="https://crystaldata.neocities.org/"><img src="images/crystaldata.png"></a>
<a href="https://cumbia.neocities.org/"><img src="images/cumbia.png"></a>
<a href="https://cutewaifu.com/"><img src="images/cutewaifu.gif"></a>
<a href="https://www.davidgebski.nl/"><img src="images/davidgebski.png"></a>
<a href="https://deadendshrine.online/"><img src="images/deadendshrine.png"></a>
<a href="https://deurist.neocities.org/"><img src="images/deurist.png"></a>
<a href="https://digilord.neocities.org/"><img src="images/digilord.gif"></a>
<a href="https://diskmagvp.neocities.org/"><img src="images/diskmagvp.png"></a>
<a href="https://erratas.neocities.org/"/><img src="images/erratas.gif"></a>
<a href="https://etheriarchos.neocities.org/"><img src="images/etheriarchos.png"></a>
<a href="https://extramundane.xyz"><img src="images/extramundane.jpg"></a>
<a href="https://flammableduck.xyz/"><img src="images/flammableduck.png"></a>
<a href="https://xn--fnixfogelfuchs-vpb.eu/"><img src="images/fonix.png"></a>
<a href="https://xn--z7x.xn--6frz82g/"><img src="images/xn-neko.gif"></a>
<a href="http://freetext.wz.cz/"><img src="images/freetext.png"></a>
<a href="http://funwithhakase.pl/"><img src="images/funwithhakase.gif"></a>
<a href="https://gapandfriends.neocities.org/"><img src="images/gapandfriends.png"></a>
<a href="https://gayniggersfromouterspace.neocities.org/"><img src="images/gayniggersfromouterspace.neocities.org.jpg"></a>
<a href="http://geocities.ws/skeletons/"><img src="images/geocities.ws-slash-skeletons.png"></a>
<a href="https://getimiskon.neocities.org/"><img src="images/getimiskon.png"></a>
<a href="https://godcock.neocities.org/"/><img src="images/godcock.jpg"/></a>
<a href="https://tildezero.xyz/~goat/"><img src="images/goat.jpg"></a>
<a href="https://grafovolaverunt.xyz/"><img src="images/grafovolaverunt.gif"></a>
<a href="https://hb11f.net/"><img src="images/hb11f.gif"></a>
<a href="https://hellishchemicals.neocities.org/"><img src="images/hellchem.png"></a>
<a href="https://hen6003.xyz/"><img src="images/hen6003.png"></a>
<a href="http://ic3333h2g3p7ffv6ypscxfvgomi2oj7x45xkqzpay6txjl2nlg5qwcid.onion/"><img src="images/ic3.png"></a>
<a href="https://jack---91.neocities.org/"><img src="images/jack.gif"></a>
<a href="https://jakes-mail.top/"><img src="images/jakesmail.gif"></a>
<a href="https://jakesthoughts.xyz/"><img src="images/jakesthoughts.gif"></a>
<a href="https://jole.xyz/"><img src="images/jole.png"/></a>
<a href="https://jyushimatsu.web.fc2.com/"><img src="images/jyushimatsu.gif" style="width:240px;height:60px;"></a>
<a href="https://kamel.surge.sh/"><img src="images/kamel.png"></a>
<a href="https://karar.neocities.org/"><img src="images/karar.png"></a>
<a href="https://kassy.neocities.org/"><img src="images/kassy.jpg"></a>
<a href="https://kill-9.xyz/"><img src="images/kill9.png"></a>
<a href="https://kolyma.jp/"><img src="images/kolyma.jp.png"></a>
<a href="https://kuz.lol/"><img src="images/kuz.lol.png"></a>
<a href="https://kyubit.neocities.org/"><img src="images/kyubit.png"></a>
<a href="https://lainch.leibur.eu/"><img src="images/lainch.png"></a>
<a href="https://lukescabin.neocities.org/"><img src="images/lukescabin.png"></a>
<a href="https://dataswamp.org/~lich/"><img src="images/lich.png"></a>
<a href="https://lilibyte.net/"><img src="images/lilibyte.gif"></a>
<a href="https://limpingdogsdoghouse.neocities.org/"><img src="images/limpingdog.png"></a>
<a href="https://mayvaneday.art/"><img src="images/mayvaneday.png"></a>
<a href="http://megaroad01.co/"><img src="images/megaroad01.gif"></a>
<a href="http://michii.tk/"><img src="images/michii.png"></a>
<a href="https://mm4rk3t.neocities.org/"><img src="images/mm4rk3t.gif"></a>
<a href="https://morituritesalutant.neocities.org/"><img src="images/morituritesalutant.jpg"/></a>
<a href="https://nightt.neocities.org/"><img src="images/nightt.gif"></a>
<a href="https://nosleepforme.neocities.org/index.html"/><img src="images/nosleepforme.png"/></a>
<a href="http://wh3zlpmhtec4odnskihkbjbqixw45jkkgsk5c2mh6j3qhrdggocnbbad.onion/"><img src="images/nobodyimportant.gif" style="width:240px;height:60px;"></a>
<a href="https://nyom.ru/"><img src="images/nyomru.gif"></a>
<a href="https://oversteer.xyz/"><img src="images/oversteer.png"/></a>
<a href="https://tard.zone/"><img src="images/tardzone.gif"></a>
<a href="http://tilde.club/~parnell/"><img src="images/parnell.png"></a>
<a href="https://protocol7.xyz/"><img src="images/protocol7.png"></a>
<a href="https://purplevoid.neocities.org/"><img src="images/purplevoid.png"></a>
<a href="https://qorg11.net/"><img src="images/qorg11.png"></a>
<a href="https://room4.neocities.org/"><img src="images/room4.jpg"></a>
<a href="https://saltorn.neocities.org/"><img src="images/saltorn.png"></a>
<a href="https://thealchemist.website/"><img src="images/thealchemist.png"></a>
<a href="https://www.tohya.net/"><img src="images/saturnexplorers.png"></a>
<a href="https://se7en-site.neocities.org/"><img src="images/se7en.png"></a>
<a href="https://sftn.github.io/"><img src="images/sftn.png"></a>
<a href="https://www.six10.pw/"><img src="images/six10.png"></a>
<a href="https://skumsoft.ltd/slimenet/"><img src="images/slime-net.png"></a>
<a href="https://www.slushbin.org/"><img src="images/slushbin.png"></a>
<a href="https://smtnull.neocities.org/"><img src="images/smtnull.png"/></a>
<a href="https://strlst.myogaya.jp/"><img src="images/strlst.png"></a>
<a href="https://oedo808.neocities.org/"><img src="images/oedo808.gif"></a>
<a href="https://omicronsetup.eu/"><img src="images/omicronsetup.gif"></a>
<a href="http://osirianwgeyfnshykr5gfvompz7iocvlknjucmmroqzdd7w6sarq2mqd.onion/"><img src="images/surfingforever.png"></a>
<a href="https://theswissbay.ch/pdf"><img src="images/swissbay.jpg"></a>
<a href="https://techur.live/"><img src="images/techur.png"></a>
<a href="https://tinfoil-hat.net/"><img src="images/tinfoilhat.png"></a>
<a href="https://unix.tirol/"><img src="images/unix.png"></a>
<a href="https://user-index.xyz/"><img src="images/user-index.gif"></a>
<a href="https://user-outdex.xyz/"><img src="images/user-outdex.jpg"></a>
<a href="https://uwcur.neocities.org/"><img src="images/uwcur.png"></a>
<a href="https://volta.neocities.org/"><img src="images/volta.png"></a>
<a href="https://wired-7.org/"><img src="images/wired-7.org.gif" style="width:240px;height:60px;"></a>
<a href="https://wiredspace.de/"><img src="images/wiredspace.png"></a>
<a href="https://workingsea.neocities.org/"><img src="images/workingsea.png"></a>
<a href="https://xenobyte.xyz/"><img src="images/xenobyte.jpg"></a>
<a href="https://xerophyte.neocities.org/"><img src="images/xerophyte.gif"></a>
<a href="https://xiixiixii.xyz/"><img src="images/xiixiixii.gif"></a>
<a href="https://yukinu.com/"><img src="images/yukinu.gif"></a>

</div>

<div>
<a href="../../index.html">&lt;-- Back to Home</a>
</div>

</div> <!-- contentDiv -->
</div> <!-- bodyDiv -->

</body>
</html>

