<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Irrlicht PS3</title>
    <link rel="stylesheet" type="text/css" href="../../site.css"/>
</head>
<body>

<div id="bodyDiv">
<div id="contentDiv">

<h1>Irrlicht PS3</h1>

<p>Attempting to port Irrlicht 1.8.5 to PS3 using psl1ght.</p>

<a href="https://irrlicht.sourceforge.io/">
<img src="https://irrlicht.sourceforge.io/images/irrlicht_logo.png" width="400px"/>
</a>

<h3>08/31/2022</h3>
<p>Project files set up, CPS3Driver, CIrrDevicePS3, CPS3Texture stubs compiled.</p>

<p>
<a href="../../index.html">&lt;-- Back to Home</a>
</p>

</div> <!-- contentDiv -->
</div> <!-- bodyDiv -->


</body>
</html>

