<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Chapter 3</title>
</head>
<body>
<h1 id="chapter-3">Chapter 3</h1>
<h2 id="return-errors">Return errors</h2>
<ul>
<li>Suggests having functions return an enumeration to explicitly
define failure/success conditions</li>
</ul>
<h2 id="exceptions">Exceptions</h2>
<ul>
<li>Powerful and clean; however add some overhead to the program</li>
<li>Suggestion to &quot;Sandbox&quot; your library (so the library doesn&#39;t have
to have exceptions enabled) by using the library in functions
that have exception handling enabled instead.</li>
<li>Another argument is that &quot;exceptions are no better than gotos&quot;
as they aren&#39;t easily viewable/tracable in code</li>
</ul>
<h2 id="raii-resource-acquisition-is-initialization-">RAII (Resource Acquisition is Initialization)</h2>
<ul>
<li>Use it!!!</li>
</ul>
<h2 id="assertions">Assertions</h2>
<ul>
<li><p>Assertions should be removed for production builds for performance</p>
<ul>
<li>Possibility is to have your own define assertion like</li>
<li><pre><code>  <span class="hljs-meta">#<span class="hljs-meta-keyword">define</span> DEBUG_BUILD</span>

  <span class="hljs-meta">#<span class="hljs-meta-keyword">ifdef</span> DEBUG_BUILD</span>
  <span class="hljs-meta">#<span class="hljs-meta-keyword">define</span> ASSERT(x) assert(x)</span>
  <span class="hljs-meta">#<span class="hljs-meta-keyword">else</span></span>
  <span class="hljs-meta">#<span class="hljs-meta-keyword">define</span> ASSERT(x) <span class="hljs-comment">// do nothing if production build</span></span>
  <span class="hljs-meta">#<span class="hljs-meta-keyword">endif</span></span>
</code></pre></li>
</ul>
</li>
<li>static assert (C++11, however can write your own if not)<ul>
<li>for if the data being checked is already known at compile time,
will cause the build to fail</li>
</ul>
</li>
</ul>
<h2 id="little-and-big-endian">Little and Big Endian</h2>
<ul>
<li>Little Endian: Least significant byte stored first (x86)</li>
<li>Big Endian: Most significant byte stored first (PowerPC)</li>
</ul>
<h2 id="iec-vs-metric-size-prefixes">IEC vs Metric size prefixes</h2>
<ul>
<li>kibi/mibi/etc (Ki,Mi,etc): powers of 2 (e.g. 1024)</li>
<li>kilo/mega/etc (K,M,etc): powers of 10 (e.g. 1000)</li>
</ul>
<h2 id="executable-file-segments">Executable file segments</h2>
<ol>
<li>Text segment: executable machine code for all program functions</li>
<li>Data segment: initialized global and static variables</li>
<li>BSS segment: Block Started by Symbol: uninitialized global/
static variables</li>
<li>Read only data segment: read-only (constant) global data, e.g. 
PI = 3.14</li>
</ol>
<h2 id="program-memory-types-">Program memory types:</h2>
<ol>
<li>Program stack: stores local variables within functions</li>
<li>Heap: dynamically allocated memory (malloc/free)</li>
</ol>
<h2 id="memory-alignment">Memory alignment</h2>
<ul>
<li>Apparently the PlayStation 2 would crash if trying to read
or write unaligned data</li>
</ul>
<h2 id="cpu-registers-and-buses">CPU Registers and buses</h2>
<ul>
<li>The collection of registers on a CPU is called a &quot;register file&quot;</li>
<li>The bus width defines the memory range the CPU can access, e.g.
a 16bit bus can access a range from 0x0000-0xFFFF</li>
</ul>
<h2 id="virtual-memory">Virtual memory</h2>
<ul>
<li>Memory addresses are not directly mapped; instead they are
interpreted via a lookup table by the cpu (the look up
table is stored by the operating system)</li>
<li>Virtual memory is split into pages of a size of a power of 2,
typically 4KiB or 8KiB</li>
<li>memory reads and writes have two parts: the page index and offset</li>
<li>page index is looked up by the memory management unit (MMU) via a
page table. Page table is stored in RAM by the OS<ul>
<li>&quot;This paper by Ulrich Drepper entitled, “What Every Programmer 
Should Know About Memory” is also a must-read for all 
programmers: <a href="https://www.akkadia.org/drepper/cpumemory.pdf">https://www.akkadia.org/drepper/cpumemory.pdf</a>.&quot;</li>
</ul>
</li>
</ul>
<h2 id="memory-access-speeds">Memory access speeds</h2>
<ul>
<li>Register-based instructions take between 1-10 cycles</li>
<li>RAM access can take ~500 cycles</li>
<li>Difference called the &quot;memory gap&quot;</li>
</ul>
<h2 id="cache-hierarchy">Cache hierarchy</h2>
<ul>
<li>L1 cache: nearest to CPU; almost as fast as CPU register access</li>
<li>L2 cache: further away but more of it; often shared between cores</li>
<li>L3/L4 cache: further away again but more</li>
<li>Accessing memory already in cache is a &quot;cache hit&quot;; having to fetch
it from RAM is a &quot;cache miss&quot;</li>
<li>Cache line: a chunk of contiguous data moved into the cache; due to
the likelyhood that you will access memory near the initial point
soon and often (e.g. in a for loop or struct data)</li>
</ul>
<p><img src="cache_levels.png" alt="L cache"></p>
<ul>
<li>Avoiding cache misses: the goal is to store data contiguously in as small
blocks as possible, then access them sequentially</li>
<li>Inline functions judiciously - small functions can provide a big performance
boost, but large functions can cause the code section to not fit within 
the cache</li>
</ul>
<h2 id="ps4-architecture">PS4 architecture</h2>
<ul>
<li>Uniform Memory Access (UMA) - main RAM visible to all cores</li>
<li>8 cores in two clusters</li>
<li>each core has a private L1 cache</li>
<li>each cluster shares an L2 cache</li>
</ul>
<h2 id="ps3-architecture">PS3 architecture</h2>
<ul>
<li>Non-uniform Memory Acces (NUMA) - each core has its own dedicated
RAM called a &quot;local store&quot;</li>
<li>Main CPU called the Power Processing Unit (PPU)</li>
<li>8 SPUs (Synergistic Processing Units)</li>
<li>PPU accesses 256 MiB system RAM</li>
<li>Each SPU has a 256 KiB local store</li>
<li>2 SPUs reserved for OS and &quot;fabrication flaws&quot;</li>
</ul>
<p><img src="ps3_architecture.png" alt="PS3 Architecture"></p>
<h2 id="ps2-architecture">PS2 architecture</h2>
<ul>
<li>Emotion Engine (EE) CPU contains 16 KiB &quot;scratchpad&quot;, which the programmer
can treat like regular RAM, and the CPU accesses without the use of the system
bus</li>
<li>EE also has 16 KiB and 8 KiB I and D cache</li>
<li>Two vector coprocessors VU0 and VU1</li>
<li>GPU called the Graphics Synthesizer (GS)</li>
</ul>
<p><img src="ps2_architecture.png" alt="PS2 Architecture"></p>
</body>
</html>

